# I. US County Race Population

In [1]:

import pandas as pd
import numpy as np 
from datetime import datetime  


def diagnose_Rate(T, **kwargs):
    info_list = []
    for col in T.columns:
        if col in ['Rate_Black', 'Rate_White', 'Rate_Parity']:
            d = {'name': col}
            for k, v in kwargs.items():
                d[k] = v
                
            for k,v in T[col].describe().to_dict().items():
                d[k] = v
            info_list.append(d)

    Report = pd.DataFrame(info_list)
    return Report


# US_COUNTY_POPULATION[US_COUNTY_POPULATION['Total_Whole'] > 100000]

path = 'DataMerge/Data/C-AnnualCountyPopulation/US_COUNTY_POPULATION.csv'
US_COUNTY_POPULATION = pd.read_csv(path)
US_COUNTY_POPULATION.head()

,GEOID,State,County,Geographic Area Name,Total_Whole,Total_White,Total_Black,Total_AIndA,Total_Asian,Total_WhiteC,Total_BlackC,Total_AIndAC,Total_AsianC
0,1001,Alabama,Autauga,"Autauga, Alabama",55869,42607,11237,266,656,43563,11784,575,950
1,1003,Alabama,Baldwin,"Baldwin, Alabama",223234,195198,19593,1742,2380,199103,21354,3603,3351
2,1005,Alabama,Barbour,"Barbour, Alabama",24686,12134,11906,170,116,12380,12117,297,152
3,1007,Alabama,Bibb,"Bibb, Alabama",22394,17191,4763,103,48,17420,4907,207,97
4,1009,Alabama,Blount,"Blount, Alabama",57826,55412,978,370,185,56167,1276,820,312

In [2]:

STATE_VACCINE = {}

In [3]:
print("Enter the date of collecting data (Today's data in YYYY-MM-DD):")
Today_Date = input()

assert Today_Date == str(datetime.now().date())

print('Hello, ' + Today_Date)

Enter the date of collecting data (Today's data in YYYY-MM-DD):

 2021-04-19

Hello, 2021-04-19

# II. API States

## [!] A. California* (Done)


https://covid19.ca.gov/vaccines/#California-vaccines-dashboard


https://data.ca.gov/dataset/covid-19-vaccine-progress-dashboard-data 


https://data.ca.gov/dataset/covid-19-vaccine-progress-dashboard-data/resource/c020ef6b-2116-4775-b11d-9df2875096ab # click here



Statewide COVID-19 Vaccines Administered By CountyCSV


Direct Vaccine Rate 

No Fully Rate information

In [4]:
# path = 'TMP/April08/California/covid19vaccinesbycounty.csv'

'TMP/April09/California/covid19vaccinesbycounty.csv'
'TMP/April10/California/covid19vaccinesbycounty.csv'

'TMP/April12/California/c020ef6b-2116-4775-b11d-9df2875096ab.csv'

'TMP/April14/California/covid19vaccinesbycounty.csv'

'TMP/April16/California/covid19vaccinesbycounty.csv'

'CountyVaccine/TMP/April18/California/covid19vaccinesbycounty.csv'

'CountyVaccine/TMP/April18/California/covid19vaccinesbycounty.csv'



'CountyVaccine/TMP/April19/California/covid19vaccinesbycounty .csv'

'CountyVaccine/TMP/April19/California/covid19vaccinesbycounty .csv'

In [5]:


Date = Today_Date
import os

while True:
    Path = input('Enter California Manually collected Data:  ')
    if os.path.isfile(Path):
        print('File Exists!')
        x = input('Enter "Yes" if the file contains the information of the date you wanted:  ')
        if x =='Yes':
            break
    else:
        print('Wrong file path...')
        
        
print('\nThe Path we have:')
print(Path)

from datetime import datetime 
import numpy as np

import requests
import time

    

# CalInfo: county total vaccine number each date
CalInfo = pd.read_csv(Path)
CalInfo = CalInfo[CalInfo['administered_date'] == Date].reset_index(drop = True)



while len(CalInfo) == 0:
    print('There is no information for current Date:', Date)
    Date = input('Please Enter a new One:')
    CalInfo = pd.read_csv(Path)
    CalInfo = CalInfo[CalInfo['administered_date'] == Date].reset_index(drop = True)
    

print('We get California Information for Date:', Date)
CalInfo = CalInfo[['county', 'california_flag', 'cumulative_at_least_one_dose']]
CalInfo['Geographic Area Name'] = CalInfo['county'] + ', ' + CalInfo['california_flag']
CalInfo

Enter California Manually collected Data:   CountyVaccine/TMP/April19/California/covid19vaccinesbycounty .csv

File Exists!

Enter "Yes" if the file contains the information of the date you wanted:   Yes

The Path we have:
CountyVaccine/TMP/April19/California/covid19vaccinesbycounty .csv
There is no information for current Date: 2021-04-19

Please Enter a new One: 2021-04-18

We get California Information for Date: 2021-04-18

,county,california_flag,cumulative_at_least_one_dose,Geographic Area Name
0,All CA Counties,NaN,16503059,NaN
1,All CA and Non-CA Counties,NaN,16812416,NaN
2,Outside California,Not in California,305811,"Outside California, Not in California"
3,Alameda,California,833398,"Alameda, California"
4,Amador,California,16388,"Amador, California"
5,Butte,California,74331,"Butte, California"
6,Calaveras,California,17135,"Calaveras, California"
7,Colusa,California,6716,"Colusa, California"
8,Contra Costa,California,593403,"Contra Costa, California"
9,Del Norte,California,8096,"Del Norte, California"
10,El Dorado,California,70987,"El Dorado, California"
11,Fresno,California,355987,"Fresno, California"
12,Glenn,California,8795,"Glenn, California"
13,Humboldt,California,56184,"Humboldt, California"
14,Imperial,California,62242,"Imperial, California"
15,Inyo,California,7230,"Inyo, California"
16,Kern,California,262651,"Kern, California"
17,Kings,California,35620,"Kings, California"
18,Lake,California,22083,"Lake, California"
19,Lassen,California,5951,"Lassen, California"
20,Los Angeles,California,4193889,"Los Angeles, California"
21,Madera,California,50957,"Madera, California"
22,Marin,California,159976,"Marin, California"
23,Mendocino,California,38226,"Mendocino, California"
24,Merced,California,85201,"Merced, California"
25,Modoc,California,2475,"Modoc, California"
26,Mono,California,7208,"Mono, California"
27,Monterey,California,177155,"Monterey, California"
28,Napa,California,71030,"Napa, California"
29,Nevada,California,39594,"Nevada, California"
30,Orange,California,1356848,"Orange, California"
31,Placer,California,160686,"Placer, California"
32,Plumas,California,6930,"Plumas, California"
33,Riverside,California,827817,"Riverside, California"
34,Sacramento,California,553977,"Sacramento, California"
35,San Benito,California,22329,"San Benito, California"
36,San Bernardino,California,655193,"San Bernardino, California"
37,San Diego,California,1740526,"San Diego, California"
38,San Francisco,California,490067,"San Francisco, California"
39,San Joaquin,California,259026,"San Joaquin, California"
40,San Luis Obispo,California,117009,"San Luis Obispo, California"
41,San Mateo,California,397344,"San Mateo, California"
42,Santa Barbara,California,197288,"Santa Barbara, California"
43,Santa Clara,California,943338,"Santa Clara, California"
44,Santa Cruz,California,137103,"Santa Cruz, California"
45,Shasta,California,46571,"Shasta, California"
46,Solano,California,170791,"Solano, California"
47,Sonoma,California,247021,"Sonoma, California"
48,Stanislaus,California,197519,"Stanislaus, California"
49,Sutter,California,33060,"Sutter, California"
50,Tehama,California,13889,"Tehama, California"
51,Trinity,California,3394,"Trinity, California"
52,Tulare,California,141876,"Tulare, California"
53,Tuolumne,California,20836,"Tuolumne, California"
54,Ventura,California,361826,"Ventura, California"
55,Yolo,California,98277,"Yolo, California"
56,Yuba,California,18517,"Yuba, California"

In [6]:

def get_California_Raw_and_postprocess(US_COUNTY_POPULATION):
    

    state = 'California'
    ca_county_list = [i.lower().replace(' ','') for i in US_COUNTY_POPULATION[US_COUNTY_POPULATION['State'] == 'California']['County'].values]

    L = []
    error_list = []
    for i in ca_county_list:

        api_url = 'https://files.covid19.ca.gov/data/vaccine-equity/race-ethnicity/vaccines_by_race_ethnicity_{}.json'.format(i)

        resp = requests.get(api_url)# .to_json()
        data = resp.json() # resp

        try:

            d = {}
            d['County'] = data['meta']['REGION']
            d['Latest_Date'] = data['meta']['LATEST_ADMIN_DATE']
            for i in data['data']:
                d[i['CATEGORY']] = i['METRIC_VALUE']
            L.append(d)

        except:
            print(i)
            error_list.append(i)

    CA_County_Vaccine_Race = pd.DataFrame(L)
    
    return CA_County_Vaccine_Race





def standardize_California(CA_County_Vaccine_Race, US_COUNTY_POPULATION):
    
    


    # IL_County_Vaccine_Race = pd.DataFrame(L)
    state = 'California'

    new_L = []


    for idx, row in CA_County_Vaccine_Race.iterrows():
        d = row.to_dict()

        new_d = {}


        new_d['State'] = state
        new_d['County'] = d['County']
        
        RenameCounties = {
            # 'Mckean': 'McKean'
        }
        if new_d['County'] in RenameCounties:
            new_d['County'] = RenameCounties[new_d['County']]

        new_d['Geographic Area Name'] = new_d['County'] + ', ' + new_d['State']



        # new_d['Numb_White'] = np.nan
        new_d['Rate_White_V'] = d['White']

        # new_d['Numb_Black'] = np.nan
        new_d['Rate_Black_V'] = d['Black']

        # new_d['Numb_Asian'] = np.nan
        new_d['Rate_Asian_V'] = d['Asian American']

        # new_d['Numb_AIndA'] = np.nan
        new_d['Rate_AIndA_V'] = d['American Indian or Alaska Native (AI/AN)']

        # new_d['Numb_Other'] = np.nan
        new_d['Rate_Other_V'] = d['Other']

        new_d['Date'] = d['Latest_Date']

        new_L.append(new_d)


    Data = pd.DataFrame(new_L)

    not_included = list(set(Data['Geographic Area Name'].unique()) - set(US_COUNTY_POPULATION['Geographic Area Name'].unique()))
    if len(not_included) > 0:
        print('Not included Counties', not_included)

    
    T = pd.merge(Data, US_COUNTY_POPULATION[US_COUNTY_POPULATION.columns[3:]], on = 'Geographic Area Name')

        
        
    T = T[list(T.columns[:3]) + list(T.columns[3:].sort_values())]
    
    return T
    

    

CA_County_Vaccine_Race = get_California_Raw_and_postprocess(US_COUNTY_POPULATION)

# CA_County_Vaccine_Race.to_csv('FinalResult/Post_California.csv')
# print(CA_County_Vaccine_Race.shape)
CA_County_Vaccine_Race.head()

,County,Latest_Date,American Indian or Alaska Native (AI/AN),Asian American,Black,Latino,Multi-race,Native Hawaiian or Other Pacific Islander (NHPI),White,Other,Unknown
0,Alameda,2021-04-18,0.002429,0.259167,0.059925,0.116727,0.114385,0.005998,0.269505,0.094923,0.076942
1,Alpine,2021-04-15,0.016990,0.008495,0.002427,0.010922,0.003641,0.000000,0.178398,0.008495,0.770631
2,Amador,2021-04-18,0.008299,0.016598,0.004943,0.078899,0.038748,0.003478,0.705089,0.087686,0.056261
3,Butte,2021-04-18,0.010911,0.029974,0.007897,0.101317,0.168476,0.001238,0.577323,0.064697,0.038167
4,Calaveras,2021-04-18,0.004669,0.014999,0.004902,0.062095,0.018267,0.002159,0.589437,0.083163,0.220309

In [7]:
T = standardize_California(CA_County_Vaccine_Race, US_COUNTY_POPULATION)
state = 'California'

# T.to_csv('FinalResult/T_' + state +'.csv', index = False)
print(T.shape)
T.head()

(58, 18)

,State,County,Geographic Area Name,Date,Rate_AIndA_V,Rate_Asian_V,Rate_Black_V,Rate_Other_V,Rate_White_V,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole
0,California,Alameda,"Alameda, California",2021-04-18,0.002429,0.259167,0.059925,0.094923,0.269505,17797,37797,540391,594001,184368,214392,823593,899377,1671329
1,California,Alpine,"Alpine, California",2021-04-15,0.016990,0.008495,0.002427,0.008495,0.178398,290,310,18,27,4,26,767,813,1129
2,California,Amador,"Amador, California",2021-04-18,0.008299,0.016598,0.004943,0.087686,0.705089,925,1644,665,1043,1066,1374,35636,36844,39752
3,California,Butte,"Butte, California",2021-04-18,0.010911,0.029974,0.007897,0.064697,0.577323,5547,9925,10984,14403,4158,7087,187742,197213,219186
4,California,Calaveras,"Calaveras, California",2021-04-18,0.004669,0.014999,0.004902,0.083163,0.589437,905,1858,859,1399,498,836,41752,43344,45905

In [8]:
not_included = list(set(T['Geographic Area Name'].unique()) - set(CalInfo['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)

    
not_included = list(set(CalInfo['Geographic Area Name'].unique()) - set(T['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)

Not included Counties ['Mariposa, California', 'Alpine, California', 'Sierra, California', 'Siskiyou, California']
Not included Counties [nan, 'Outside California, Not in California']

In [9]:
T2 = pd.merge(T, CalInfo[['Geographic Area Name', 'cumulative_at_least_one_dose']] , on = 'Geographic Area Name')
print(T2.shape)
T2.head()

(54, 19)

,State,County,Geographic Area Name,Date,Rate_AIndA_V,Rate_Asian_V,Rate_Black_V,Rate_Other_V,Rate_White_V,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole,cumulative_at_least_one_dose
0,California,Alameda,"Alameda, California",2021-04-18,0.002429,0.259167,0.059925,0.094923,0.269505,17797,37797,540391,594001,184368,214392,823593,899377,1671329,833398
1,California,Amador,"Amador, California",2021-04-18,0.008299,0.016598,0.004943,0.087686,0.705089,925,1644,665,1043,1066,1374,35636,36844,39752,16388
2,California,Butte,"Butte, California",2021-04-18,0.010911,0.029974,0.007897,0.064697,0.577323,5547,9925,10984,14403,4158,7087,187742,197213,219186,74331
3,California,Calaveras,"Calaveras, California",2021-04-18,0.004669,0.014999,0.004902,0.083163,0.589437,905,1858,859,1399,498,836,41752,43344,45905,17135
4,California,Colusa,"Colusa, California",2021-04-18,0.008041,0.006849,0.004914,0.060006,0.299732,594,855,337,492,282,458,19630,20133,21547,6716

In [10]:
T2.columns

Index(['State', 'County', 'Geographic Area Name', 'Date', 'Rate_AIndA_V',
       'Rate_Asian_V', 'Rate_Black_V', 'Rate_Other_V', 'Rate_White_V',
       'Total_AIndA', 'Total_AIndAC', 'Total_Asian', 'Total_AsianC',
       'Total_Black', 'Total_BlackC', 'Total_White', 'Total_WhiteC',
       'Total_Whole', 'cumulative_at_least_one_dose'],
      dtype='object')

In [11]:
for Race in ['White', 'Black']:
    T2['Numb_' + Race]        = T2['cumulative_at_least_one_dose'] * T2['Rate_' + Race + '_V']
    T2['Rate_' + Race]       = T2['Numb_' + Race] / T2['Total_' + Race]
    # T2['Rate_' + Race + 'C'] = T2['Num_' + Race] / T2['Total_' + Race + 'C']

    
cols = ['State', 'County', 'Geographic Area Name', 'Date', 'Numb_White',
       'Rate_White', 'Numb_Black', 'Rate_Black',
       'Total_AIndA', 'Total_AIndAC', 'Total_Asian', 'Total_AsianC',
       'Total_Black', 'Total_BlackC', 'Total_White', 'Total_WhiteC',
       'Total_Whole', 'cumulative_at_least_one_dose', ]
T = T2[cols]
T.head()

,State,County,Geographic Area Name,Date,Numb_White,Rate_White,Numb_Black,Rate_Black,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole,cumulative_at_least_one_dose
0,California,Alameda,"Alameda, California",2021-04-18,224604.927990,0.272713,49941.375150,0.270879,17797,37797,540391,594001,184368,214392,823593,899377,1671329,833398
1,California,Amador,"Amador, California",2021-04-18,11554.998532,0.324251,81.005884,0.075991,925,1644,665,1043,1066,1374,35636,36844,39752,16388
2,California,Butte,"Butte, California",2021-04-18,42912.995913,0.228574,586.991907,0.141172,5547,9925,10984,14403,4158,7087,187742,197213,219186,74331
3,California,Calaveras,"Calaveras, California",2021-04-18,10100.002995,0.241905,83.995770,0.168666,905,1858,859,1399,498,836,41752,43344,45905,17135
4,California,Colusa,"Colusa, California",2021-04-18,2013.000112,0.102547,33.002424,0.117030,594,855,337,492,282,458,19630,20133,21547,6716

In [12]:
T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']
# T['Rate_ParityC'] = T['Rate_WhiteC'] - T['Rate_BlackC']
STATE_VACCINE[state] = T
print([i for i in STATE_VACCINE])
diagnose_Rate(T)

['California']

<ipython-input-12-266ad6d67fc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']

,name,count,mean,std,min,25%,50%,75%,max
0,Rate_White,54.0,0.207174,0.084180,0.036985,0.129357,0.214559,0.270634,0.419946
1,Rate_Black,54.0,0.158488,0.068949,0.018685,0.117406,0.155248,0.213826,0.322205
2,Rate_Parity,54.0,0.048687,0.080475,-0.085069,-0.006632,0.023812,0.096760,0.265361

# III. Table States

## [!] B. Tennessee* (Done)


https://www.tn.gov/health/cedep/ncov/data/downloadable-datasets.html

Covid Vaccine County Demographics


95 counties

In [13]:
import pandas as pd


url = 'https://www.tn.gov/content/dam/tn/health/documents/cedep/novel-coronavirus/datasets/COVID_VACCINE_COUNTY_DEMOGRAPHICS.XLSX'
RawData = pd.read_excel(url)
RawData.tail()  # RawData

            DATE  COUNTY CATEGORY CAT_DETAIL  RECIPIENT_COUNT
92249 2021-04-19  WILSON     ETHN    UNKNOWN           5827.0
92250 2021-04-19  WILSON      SEX          F          25337.0
92251 2021-04-19  WILSON      SEX          M          19302.0
92252 2021-04-19  WILSON      SEX          O             19.0
92253 2021-04-19  WILSON      SEX          U             79.0

In [14]:
######################################################
Date = Today_Date 
######################################################  


# RawData2 = RawData

while (RawData['DATE'] == Date).sum() == 0:
    print('There is no information for current Date:', Date)
    Date = input('Please Enter a new One:')

    
    

print('We get Tennessee Information for Date:', Date)
RawData = RawData[RawData['DATE'] == Date]

RawData.head()

We get Tennessee Information for Date: 2021-04-19

,DATE,COUNTY,CATEGORY,CAT_DETAIL,RECIPIENT_COUNT
91125,2021-04-19,ANDERSON,RACE,ASIAN,287.0
91126,2021-04-19,ANDERSON,RACE,BLACK OR AFRICAN AMERICAN,548.0
91127,2021-04-19,ANDERSON,RACE,OTHER/MULTIRACIAL,4684.0
91128,2021-04-19,ANDERSON,RACE,UNKNOWN,2609.0
91129,2021-04-19,ANDERSON,RACE,WHITE,20212.0

In [15]:


RawData = RawData[RawData['CATEGORY'].isin(['RACE', 'ETHN'])]


L= []

for county, record in RawData.groupby('COUNTY'):
    # print(county)
    D = {}
    D['County'] = county

    for idx, row in record.iterrows():
        d = row.to_dict()
        # print(d)
        
        item = d['CAT_DETAIL']
        if item == 'UNKNOWN': 
            item = d['CATEGORY'] + '-' + item
        
        D[item] = d['RECIPIENT_COUNT']
    # print(D)
    L.append(D)

Tennessee_County_Vaccine_Race = pd.DataFrame(L)

In [16]:
# Tennessee_County_Vaccine_Race.to_csv('FinalResult/Tennessee.csv')
print(Tennessee_County_Vaccine_Race.shape)
Tennessee_County_Vaccine_Race.head() # 95 counties in Tennessee

(96, 9)

,County,ASIAN,BLACK OR AFRICAN AMERICAN,OTHER/MULTIRACIAL,RACE-UNKNOWN,WHITE,HISPANIC OR LATINO,NOT HISPANIC OR LATINO,ETHN-UNKNOWN
0,ANDERSON,287.0,548.0,4684.0,2609.0,20212.0,789.0,23707.0,3844.0
1,BEDFORD,104.0,652.0,1361.0,978.0,7864.0,601.0,8955.0,1403.0
2,BENTON,27.0,188.0,550.0,113.0,4220.0,74.0,4790.0,234.0
3,BLEDSOE,NaN,34.0,347.0,286.0,2386.0,45.0,2548.0,463.0
4,BLOUNT,286.0,677.0,5607.0,3347.0,35915.0,753.0,39770.0,5309.0

In [17]:

# Tennessee_County_Vaccine_Race.to_csv('FinalResult/Tennessee.csv')
print(Tennessee_County_Vaccine_Race.shape)
Tennessee_County_Vaccine_Race.head() # 95 counties in Tennessee

(96, 9)

,County,ASIAN,BLACK OR AFRICAN AMERICAN,OTHER/MULTIRACIAL,RACE-UNKNOWN,WHITE,HISPANIC OR LATINO,NOT HISPANIC OR LATINO,ETHN-UNKNOWN
0,ANDERSON,287.0,548.0,4684.0,2609.0,20212.0,789.0,23707.0,3844.0
1,BEDFORD,104.0,652.0,1361.0,978.0,7864.0,601.0,8955.0,1403.0
2,BENTON,27.0,188.0,550.0,113.0,4220.0,74.0,4790.0,234.0
3,BLEDSOE,NaN,34.0,347.0,286.0,2386.0,45.0,2548.0,463.0
4,BLOUNT,286.0,677.0,5607.0,3347.0,35915.0,753.0,39770.0,5309.0

In [18]:
# print(len(L))

import numpy as np



state = 'Tennessee' ## 

new_L = []


for idx, row in Tennessee_County_Vaccine_Race.iterrows(): ## 
    d = row.to_dict()
    
    new_d = {}
    
    
    new_d['State'] = state
    new_d['County'] = ' '.join([i.lower().capitalize() for i in d['County'].split(' ')])
    RenameCounties = {
        'Dekalb': 'DeKalb',
        'Mcminn': 'McMinn', 
        'Mcnairy': 'McNairy',
        # 'Mccormick': 'McCormick'
    }
    if new_d['County'] in RenameCounties:
        new_d['County'] = RenameCounties[new_d['County']]

    new_d['Geographic Area Name'] = new_d['County'] + ', ' + new_d['State']
        
        
    new_d['Numb_White'] = d['WHITE']
    
    new_d['Numb_Black'] = d['BLACK OR AFRICAN AMERICAN']
    
    
    new_d['Numb_Asian'] = d['ASIAN']
    new_d['Rate_Asian'] = np.nan
    
    
    new_d['Date'] = np.nan
    
    new_L.append(new_d)
    
    
Data = pd.DataFrame(new_L)
not_included = list(set(Data['Geographic Area Name'].unique()) - set(US_COUNTY_POPULATION['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)


T = pd.merge(Data, US_COUNTY_POPULATION[US_COUNTY_POPULATION.columns[3:]], on = 'Geographic Area Name')


for Race in ['White', 'Black', 'Asian']:
    Rate = T['Numb_' + Race] / T['Total_' + Race]
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race] = Rate

#     Rate = T['Numb_' + Race] / T['Total_' + Race + 'C']
#     Rate = Rate.replace([-np.inf, np.inf], np.nan)
#     T['Rate_' + Race + 'C'] = Rate


T = T[list(T.columns[:3]) + list(T.columns[3:].sort_values())]


print(T.shape)
T.head()

Not included Counties ['Out Of State, Tennessee']
(95, 19)

,State,County,Geographic Area Name,Date,Numb_Asian,Numb_Black,Numb_White,Rate_Asian,Rate_Black,Rate_White,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole
0,Tennessee,Anderson,"Anderson, Tennessee",NaN,287.0,548.0,20212.0,0.244881,0.173748,0.286793,371,911,1172,1480,3154,4161,70476,72149,76978
1,Tennessee,Bedford,"Bedford, Tennessee",NaN,104.0,652.0,7864.0,0.200000,0.155275,0.181814,580,843,520,669,4199,4922,43253,44280,49713
2,Tennessee,Benton,"Benton, Tennessee",NaN,27.0,188.0,4220.0,0.275510,0.448687,0.276052,91,220,98,136,419,536,15287,15532,16160
3,Tennessee,Bledsoe,"Bledsoe, Tennessee",NaN,NaN,34.0,2386.0,NaN,0.029310,0.176128,96,188,45,71,1160,1261,13547,13750,15064
4,Tennessee,Blount,"Blount, Tennessee",NaN,286.0,677.0,35915.0,0.220000,0.168408,0.287868,564,1487,1300,1754,4020,5075,124762,126972,133088

In [19]:
T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']
# T['Rate_ParityC'] = T['Rate_WhiteC'] - T['Rate_BlackC']
STATE_VACCINE[state] = T
print([i for i in STATE_VACCINE])
diagnose_Rate(T)

['California', 'Tennessee']

,name,count,mean,std,min,25%,50%,75%,max
0,Rate_Black,90.0,0.197579,0.103615,0.029310,0.144739,0.178456,0.222681,0.754386
1,Rate_White,95.0,0.247167,0.052098,0.135268,0.213422,0.234633,0.276512,0.419765
2,Rate_Parity,90.0,0.052039,0.100834,-0.520251,0.024351,0.062814,0.112465,0.185284

## [!] B. North Carolina* (Done)

Download the Data First

https://covid19.ncdhhs.gov/dashboard/data-behind-dashboards

In [20]:
################################################
# path = 'TMP/NorthCarolina/NC_Mar26_Doses by County.xlsx'
# path = 'TMP/Template/NorthCarolina/NC_April2_Vaccination_Race.xlsx'

################################################

'TMP/April09/North Carolina/Vaccination_Race.xlsx'


'TMP/April10/NorthCarolina/Vaccination_Race.xlsx'


'TMP/April12/NorthCarolina/Vaccination_Race.xlsx'


'TMP/April14/North Carolina/Vaccination_Race14.xls'


'TMP/April16/NorthCarolina/Vaccination_Race-NorthCaro-0416.xlsx'

'CountyVaccine/TMP/April18/NorthCarolina/Vaccination_Race 418.xlsx'


'CountyVaccine/TMP/April19/North Carolina/Vaccination_Race (1).xls'

'CountyVaccine/TMP/April19/North Carolina/Vaccination_Race (1).xls'

In [21]:

Date = Today_Date
import os

while True:
    Path = input('Enter North Carolina Manually collected Data:  ')
    if os.path.isfile(Path):
        print('File Exists!')
        x = input('Enter "Yes" if the file contains the information of the date you wanted:  ')
        if x =='Yes':
            break
    else:
        print('Wrong file path...')
        
        
print('\nThe Path we have:')
print(Path)


Data = pd.read_excel(Path)
Data.columns

Enter North Carolina Manually collected Data:   CountyVaccine/TMP/April19/North Carolina/Vaccination_Race (1).xls

File Exists!

Enter "Yes" if the file contains the information of the date you wanted:   Yes

The Path we have:
CountyVaccine/TMP/April19/North Carolina/Vaccination_Race (1).xls

Index(['Index', 'County ', 'Week of', 'American Indian or Alaskan Native',
       'Asian or Pacific Islander', 'Black or African American', 'White',
       'Other', 'Suppressed', 'Missing or Undisclosed'],
      dtype='object')

In [22]:

columns = ['County ', 'Week of', 'American Indian or Alaskan Native',
       'Asian or Pacific Islander', 'Black or African American',
       'Missing or Undisclosed', 'Other', 'Suppressed', 'White']


NorthCarolina = Data[columns]
Groups = NorthCarolina.groupby('County ')

CL = []


for County, df in Groups:
    D = {}
    D['County'] = County
    d = df.sum().to_dict() # Here is a sum
    D['Black or African American'] = d['Black or African American']
    D['American Indian or Alaskan Native'] = d['American Indian or Alaskan Native']
    D['White'] = d['White']
    D['Asian or Pacific Islander'] = d['Asian or Pacific Islander']
    
    CL.append(D)
    
    
NC = pd.DataFrame(CL)
NC = NC.replace(0.0, np.nan) ### Changes here
NC

,County,Black or African American,American Indian or Alaskan Native,White,Asian or Pacific Islander
0,Alamance,10097.0,191.0,37163.0,1167.0
1,Alexander,NaN,NaN,9129.0,NaN
2,Alleghany,NaN,NaN,2832.0,NaN
3,Anson,2685.0,NaN,NaN,NaN
4,Ashe,NaN,NaN,7741.0,NaN
...,...,...,...,...,...
97,Wayne,7910.0,115.0,16219.0,486.0
98,Wilkes,NaN,NaN,14942.0,NaN
99,Wilson,7146.0,48.0,12235.0,237.0
100,Yadkin,NaN,NaN,9417.0,NaN
101,Yancey,NaN,NaN,4968.0,NaN

In [23]:
# print(len(L))

import numpy as np



state = 'North Carolina' ## 

new_L = []


for idx, row in NC.iterrows(): ## 
    d = row.to_dict()
    # print(d)
    new_d = {}
    
    if type(d['County']) != str:
        print(d)
        continue 
        
    new_d['State'] = state
    new_d['County'] = ' '.join([i.lower().capitalize() for i in d['County'].split(' ')])
    RenameCounties = {
        # 'Mckean': 'McKean'
        'Mcdowell': 'McDowell'
    }
    if new_d['County'] in RenameCounties:
        new_d['County'] = RenameCounties[new_d['County']]

    new_d['Geographic Area Name'] = new_d['County'] + ', ' + new_d['State']
    
    
    new_d['Numb_White'] = d['White']
    new_d['Rate_White'] = np.nan
    
    new_d['Numb_Black'] = d['Black or African American']
    new_d['Rate_Black'] = np.nan
    
    new_d['Numb_Asian'] = d['Asian or Pacific Islander']
    new_d['Rate_Asian'] = np.nan
    
    new_d['Numb_AIndA'] = d['American Indian or Alaskan Native']
    new_d['Rate_AIndA'] = np.nan
    
    
    new_d['Date'] = np.nan
    
    new_L.append(new_d)
    
    
Data = pd.DataFrame(new_L)
not_included = list(set(Data['Geographic Area Name'].unique()) - set(US_COUNTY_POPULATION['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)


T = pd.merge(Data, US_COUNTY_POPULATION[US_COUNTY_POPULATION.columns[3:]], on = 'Geographic Area Name')


for Race in ['White', 'Black', 'Asian']:
    Rate = T['Numb_' + Race] / T['Total_' + Race]
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race] = Rate

#     Rate = T['Numb_' + Race] / T['Total_' + Race + 'C']
#     Rate = Rate.replace([-np.inf, np.inf], np.nan)
#     T['Rate_' + Race + 'C'] = Rate


T = T[list(T.columns[:3]) + list(T.columns[3:].sort_values())]

print(T.shape)
T.head()

Not included Counties ['Missing, North Carolina', 'Out Of State, North Carolina']
(100, 21)

,State,County,Geographic Area Name,Date,Numb_AIndA,Numb_Asian,Numb_Black,Numb_White,Rate_AIndA,Rate_Asian,...,Rate_White,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole
0,North Carolina,Alamance,"Alamance, North Carolina",NaN,191.0,1167.0,10097.0,37163.0,NaN,0.394523,...,0.298029,2466,3610,2958,3794,35369,37943,124696,128147,169509
1,North Carolina,Alexander,"Alexander, North Carolina",NaN,NaN,NaN,NaN,9129.0,NaN,NaN,...,0.268129,199,376,385,470,2214,2630,34047,34625,37497
2,North Carolina,Alleghany,"Alleghany, North Carolina",NaN,NaN,NaN,NaN,2832.0,NaN,NaN,...,0.266416,59,144,89,107,197,269,10630,10766,11137
3,North Carolina,Anson,"Anson, North Carolina",NaN,NaN,NaN,2685.0,NaN,NaN,NaN,...,NaN,227,368,360,419,11846,12094,11588,11960,24446
4,North Carolina,Ashe,"Ashe, North Carolina",NaN,NaN,NaN,NaN,7741.0,NaN,NaN,...,0.293754,114,269,138,176,262,416,26352,26643,27203

In [24]:
T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']
# T['Rate_ParityC'] = T['Rate_WhiteC'] - T['Rate_BlackC']
STATE_VACCINE[state] = T
print([i for i in STATE_VACCINE])
diagnose_Rate(T)

['California', 'Tennessee', 'North Carolina']

,name,count,mean,std,min,25%,50%,75%,max
0,Rate_Black,52.0,0.235646,0.045591,0.142235,0.211695,0.234918,0.270220,0.343169
1,Rate_White,91.0,0.287780,0.063730,0.127802,0.244163,0.273725,0.326730,0.473896
2,Rate_Parity,43.0,0.044669,0.044637,-0.037402,0.015197,0.032832,0.077593,0.159602

# IV. OCR States

## [!] C. West Virgina* (Done)


Copy Response from Browsers

https://dhhr.wv.gov/COVID-19/Pages/default.aspx

url = 'https://wabi-us-gov-virginia-api.analysis.usgovcloudapi.net/public/reports/querydata?synchronous=true'

In [25]:
'TMP/April09/West Virginia/WestVirginiaApril09.json'

'TMP/April10/WestVirginia/WVApril10.json'


'TMP/April12/WestVirginia/WVApril012.json'



'TMP/April14/West Virginia/WestVirginiaApril14.json'


'TMP/April16/WestVirginia/West Virginia - 0416.json'


'CountyVaccine/TMP/April18/WestVirginia/WV-418.json'

'CountyVaccine/TMP/April19/West Virginia/WestVirginiaApril19.json'

'CountyVaccine/TMP/April19/West Virginia/WestVirginiaApril19.json'

In [26]:


Date = Today_Date
import os

while True:
    Path = input('Enter West Virginia Manually collected Data:  ')
    if os.path.isfile(Path):
        print('File Exists!')
        x = input('Enter "Yes" if the file contains the information of the date you wanted:  ')
        if x =='Yes':
            break
    else:
        print('Wrong file path...')
        
        
print('\nThe Path we have:')
print(Path)

Enter West Virginia Manually collected Data:   CountyVaccine/TMP/April19/West Virginia/WestVirginiaApril19.json

File Exists!

Enter "Yes" if the file contains the information of the date you wanted:   Yes

The Path we have:
CountyVaccine/TMP/April19/West Virginia/WestVirginiaApril19.json

In [27]:

import requests
import json


date = Today_Date


with open(Path, 'r') as f:
    response_data = json.load(f)

def get_WestVirginia_Raw(date, response_data):
    

    # data = json.loads(response_data)
    data = response_data

    tmp = data['results'][0]['result']['data']['dsr']['DS'][0]
    # [i for i in tmp]

    tmp2 = tmp['PH'][1]['DM1']
    # len(tmp2)
    # tmp2


    L = []
    for county_info in tmp2:
        d= {}
        d['County'] = county_info['G0']
        d['Date' ] =  date
        try:
            info = [race['C'] for race in county_info['X'][:-1]]

            d['Numb_Black'] = info[0][0]
            d['Numb_White'] = info[-1][0]
            L.append(d)
        except:
            print(d['County'])
            print(county_info['X'])


    WestVirginia = pd.DataFrame(L)
    return WestVirginia
    
    
WestVirginia = get_WestVirginia_Raw(date, response_data)
# WestVirginia.to_csv('FinalResult/Post_WestVirginia.csv')
print(WestVirginia.shape)
WestVirginia.head() # 55 counties

(55, 4)

     County        Date  Numb_Black  Numb_White
0   Barbour  2021-04-19          24        3716
1  Berkeley  2021-04-19        1851       25132
2     Boone  2021-04-19          39        5702
3   Braxton  2021-04-19          13        4270
4    Brooke  2021-04-19          47        6800

In [28]:
# print(len(L))

import numpy as np

state = 'West Virginia' ## 

new_L = []

for idx, row in WestVirginia.iterrows(): ## 
    d = row.to_dict()
    # print(d)
    new_d = {}
    
        
    new_d['State'] = state
    new_d['County'] = ' '.join([i.lower().capitalize() for i in d['County'].split(' ')])
    RenameCounties = {
        # 'Mckean': 'McKean'
     'Mcdowell': 'McDowell'
    }
    if new_d['County'] in RenameCounties:
        new_d['County'] = RenameCounties[new_d['County']]

    new_d['Geographic Area Name'] = new_d['County'] + ', ' + new_d['State']

    new_d['Numb_White'] = d['Numb_White']
    # new_d['Rate_White'] = np.nan
    
    new_d['Numb_Black'] = d['Numb_Black']
    
    
    new_d['Date'] = d['Date']
    
    new_L.append(new_d)
    
    
Data = pd.DataFrame(new_L)


not_included = list(set(Data['Geographic Area Name'].unique()) - set(US_COUNTY_POPULATION['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)


T = pd.merge(Data, US_COUNTY_POPULATION[US_COUNTY_POPULATION.columns[3:]], on = 'Geographic Area Name')


for Race in ['White', 'Black']:
    Rate = T['Numb_' + Race] / T['Total_' + Race]
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race] = Rate

    Rate = T['Numb_' + Race] / T['Total_' + Race + 'C']
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race + 'C'] = Rate


T = T[list(T.columns[:3]) + list(T.columns[3:].sort_values())]

print(T.shape)
T.head()

(55, 19)

,State,County,Geographic Area Name,Date,Numb_Black,Numb_White,Rate_Black,Rate_BlackC,Rate_White,Rate_WhiteC,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole
0,West Virginia,Barbour,"Barbour, West Virginia",2021-04-19,24,3716,0.144578,0.085714,0.234285,0.230764,106,225,50,91,166,280,15861,16103,16441
1,West Virginia,Berkeley,"Berkeley, West Virginia",2021-04-19,1851,25132,0.196915,0.156679,0.240525,0.232786,300,1074,1328,2011,9400,11814,104488,107962,119171
2,West Virginia,Boone,"Boone, West Virginia",2021-04-19,39,5702,0.245283,0.150000,0.270686,0.268607,33,95,27,41,159,260,21065,21228,21457
3,West Virginia,Braxton,"Braxton, West Virginia",2021-04-19,13,4270,0.131313,0.073034,0.314340,0.310523,61,135,33,62,99,178,13584,13751,13957
4,West Virginia,Brooke,"Brooke, West Virginia",2021-04-19,47,6800,0.144615,0.091085,0.321741,0.317105,41,148,110,157,325,516,21135,21444,21939

In [29]:
# West Virginia	Barbour	Barbour, West Virginia	2021-03-26	10	2839	0.060241	0.035714	0.178992	0.176303	106	225	50

T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']
# T['Rate_ParityC'] = T['Rate_WhiteC'] - T['Rate_BlackC']
STATE_VACCINE[state] = T
print([i for i in STATE_VACCINE])
diagnose_Rate(T)

['California', 'Tennessee', 'North Carolina', 'West Virginia']

,name,count,mean,std,min,25%,50%,75%,max
0,Rate_Black,55.0,0.184913,0.096407,0.017730,0.110028,0.156989,0.270239,0.377011
1,Rate_White,55.0,0.331696,0.055563,0.229518,0.303060,0.324973,0.369736,0.470825
2,Rate_Parity,55.0,0.146783,0.089404,-0.019355,0.091757,0.128684,0.215760,0.326395

# VI. Manual States

## [!] E. Maine* (Done)

In [30]:
'TMP/April09/Maine/Maine April 8.xls'

'TMP/April10/Maine/Maine-FirstDose.csv'


'TMP/April12/Maine/Maine-0412.csv'


'TMP/April14/Maine/Maine April 14.xls'


'TMP/April16/Maine/Maine-0416.csv'


'CountyVaccine/TMP/April18/Maine/Maine-template-418.csv'


'CountyVaccine/TMP/April19/Maine/Part1  - Maine 4_19 (1).xls'

'CountyVaccine/TMP/April19/Maine/Part1  - Maine 4_19 (1).xls'

In [31]:
import os


Date = Today_Date


while True:
    Path = input('Enter Maine Manually collected Data:  ')
    if os.path.isfile(Path):
        print('File Exists!')
        x = input('Enter "Yes" if the file contains the information of the date you wanted:  ')
        if x =='Yes':
            break
    else:
        print('Wrong file path...')
        
        
print('\nThe Path we have:')
print(Path)

Enter Maine Manually collected Data:   CountyVaccine/TMP/April19/Maine/Part1  - Maine 4_19 (1).xls

File Exists!

Enter "Yes" if the file contains the information of the date you wanted:   Yes

The Path we have:
CountyVaccine/TMP/April19/Maine/Part1  - Maine 4_19 (1).xls

In [32]:



try:
    Data = pd.read_csv(Path)
except:
    Data = pd.read_excel(Path)
    
Data = Data[Data.columns[1:]]
Maine = Data
# Maine.to_csv('FinalResult/Maine.csv')
Maine = Maine.rename(columns = {'Black or African American': 'Black'})
Maine

   State full        County  Black   White
0       Maine  ANDROSCOGGIN    635   29478
1       Maine     AROOSTOOK     95   19719
2       Maine    CUMBERLAND   2132  113866
3       Maine      FRANKLIN     19    9248
4       Maine       HANCOCK    112   21639
5       Maine      KENNEBEC    251   37623
6       Maine          KNOX     64   15526
7       Maine       LINCOLN     43   14913
8       Maine        OXFORD     78   17961
9       Maine     PENOBSCOT    400   49689
10      Maine   PISCATAQUIS      9    5534
11      Maine     SAGADAHOC     80   12775
12      Maine      SOMERSET     44   12112
13      Maine         WALDO     45   13448
14      Maine    WASHINGTON     31    7537
15      Maine          YORK    444   67792

In [33]:
# print(len(L))

import numpy as np
state = 'Maine' ## 

new_L = []
for idx, row in Maine.iterrows(): ## 
    d = row.to_dict()
    
    new_d = {}
    
    
    new_d['State'] = state
    new_d['County'] = ' '.join([i.lower().capitalize() for i in d['County'].split(' ')])
    new_d['Geographic Area Name'] = new_d['County'] + ', ' + new_d['State']
    
    new_d['Numb_White'] = d['White'] if d['White']!= '-' else np.nan
    # new_d['Rate_White'] = np.nan
    
    new_d['Numb_Black'] = d['Black'] if d['Black']!= '-' else np.nan
    # new_d['Rate_Black'] = np.nan

    
    # new_d['Date'] = np.nan
    
    new_L.append(new_d)
    
    
Data = pd.DataFrame(new_L)
not_included = list(set(Data['Geographic Area Name'].unique()) - set(US_COUNTY_POPULATION['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)


T = pd.merge(Data, US_COUNTY_POPULATION[US_COUNTY_POPULATION.columns[3:]], on = 'Geographic Area Name')


for Race in ['White', 'Black']:
    Rate = T['Numb_' + Race] / T['Total_' + Race]
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race] = Rate


T = T[list(T.columns[:3]) + list(T.columns[3:].sort_values())]
print(T.shape)
T.head()

(16, 16)

,State,County,Geographic Area Name,Numb_Black,Numb_White,Rate_Black,Rate_White,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole
0,Maine,Androscoggin,"Androscoggin, Maine",635,29478,0.130337,0.296819,457,1251,1014,1685,4872,6145,99313,101811,108277
1,Maine,Aroostook,"Aroostook, Maine",95,19719,0.119347,0.310208,1293,1922,343,516,796,1063,63567,64576,67055
2,Maine,Cumberland,"Cumberland, Maine",2132,113866,0.225585,0.419561,1037,2945,7057,9344,9451,11622,271393,277223,295003
3,Maine,Franklin,"Franklin, Maine",19,9248,0.113772,0.316506,146,440,160,259,167,299,29219,29696,30199
4,Maine,Hancock,"Hancock, Maine",112,21639,0.197531,0.410849,261,664,684,878,567,805,52669,53436,54987

In [34]:
T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']
STATE_VACCINE[state] = T
print([i for i in STATE_VACCINE])
diagnose_Rate(T)

['California', 'Tennessee', 'North Carolina', 'West Virginia', 'Maine']

,name,count,mean,std,min,25%,50%,75%,max
0,Rate_Black,16.0,0.180165,0.053711,0.086538,0.134751,0.193111,0.209429,0.267917
1,Rate_White,16.0,0.344474,0.055142,0.248921,0.314932,0.342996,0.379717,0.444912
2,Rate_Parity,16.0,0.164308,0.056774,0.067958,0.126668,0.165516,0.205268,0.257316

## [!]  E. New Jersey* (Done)

In [35]:

'TMP/April09/New Jersey/New Jersey 4 9.xls'

'TMP/April10/NewJersey/New Jersey-First Dose.csv'


'TMP/April12/NewJersey/New Jersey-0412.csv'


'TMP/April14/New Jersey/New Jersey 4_14.xls'


'TMP/April16/NewJersey/New Jersey-0416.csv'


'CountyVaccine/TMP/April18/NewJersey/New Jersey-418.csv'

'CountyVaccine/TMP/April19/New Jersey/Part1  - New Jersey 4_19.xls'

'CountyVaccine/TMP/April19/New Jersey/Part1  - New Jersey 4_19.xls'

In [36]:
import os

Date = Today_Date


while True:
    Path = input('Enter **New Jersey** Manually collected Data:  ')
    if os.path.isfile(Path):
        print('File Exists!')
        x = input('Enter "Yes" if the file contains the information of the date you wanted:  ')
        if x =='Yes':
            break
    else:
        print('Wrong file path...')
        
        
print('\nThe Path we have:')
print(Path)

Enter **New Jersey** Manually collected Data:   CountyVaccine/TMP/April19/New Jersey/Part1  - New Jersey 4_19.xls

File Exists!

Enter "Yes" if the file contains the information of the date you wanted:   Yes

The Path we have:
CountyVaccine/TMP/April19/New Jersey/Part1  - New Jersey 4_19.xls

In [37]:
try:
    Data = pd.read_csv(Path)
except:
    Data = pd.read_excel(Path)
Data = Data[Data.columns[1:]]


print(Data.columns)

Data.columns = ['State full', 'County', 'People with at least one vaccine dose','Black', 'White']
NewJersey = Data

# NewJersey.to_csv('FinalResult/NewJersey.csv')

NewJersey.head()

Index(['State full', 'County', 'People with at least one vaccine dose',
       'Black', 'White'],
      dtype='object')

   State full      County  People with at least one vaccine dose  Black  White
0  New Jersey    ATLANTIC                                 116104      7     59
1  New Jersey      BERGEN                                 415458      3     53
2  New Jersey  BURLINGTON                                 194686      5     69
3  New Jersey      CAMDEN                                 215729      8     63
4  New Jersey    CAPE MAY                                  45324      2     80

In [38]:
# NewJersey[['Black', 'White'] ].sum(axis=1)

In [39]:
# print(len(L))

import numpy as np

state = 'New Jersey' ## 

new_L = []


for idx, row in NewJersey.iterrows(): ## 
    d = row.to_dict()
    
    new_d = {}
    
    
    new_d['State'] = state
    new_d['County'] = ' '.join([i.lower().capitalize() for i in d['County'].split(' ')])
    new_d['Geographic Area Name'] = new_d['County'] + ', ' + new_d['State']
    
    new_d['Numb_White'] = d['People with at least one vaccine dose'] *  d['White'] / 100
    
    new_d['Numb_Black'] = d['People with at least one vaccine dose'] *  d['Black'] / 100
    
    
    # new_d['Numb_Asian'] = d['First Dose Total'] *  d['Asian %'] / 100
    
    
    # new_d['Numb_Hispa'] = d['First Dose Total'] * d['Hispanic/Latinx %'] / 100
    
    new_d['Date'] = np.nan
    
    new_L.append(new_d)
    
    
Data = pd.DataFrame(new_L)
not_included = list(set(Data['Geographic Area Name'].unique()) - set(US_COUNTY_POPULATION['Geographic Area Name'].unique()))
if len(not_included) > 0:
    print('Not included Counties', not_included)


T = pd.merge(Data, US_COUNTY_POPULATION[US_COUNTY_POPULATION.columns[3:]], on = 'Geographic Area Name')


for Race in ['White', 'Black']:
    Rate = T['Numb_' + Race] / T['Total_' + Race]
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race] = Rate

    Rate = T['Numb_' + Race] / T['Total_' + Race + 'C']
    Rate = Rate.replace([-np.inf, np.inf], np.nan)
    T['Rate_' + Race + 'C'] = Rate


T = T[list(T.columns[:3]) + list(T.columns[3:].sort_values())]


print(T.shape)
T.head()

(21, 19)

,State,County,Geographic Area Name,Date,Numb_Black,Numb_White,Rate_Black,Rate_BlackC,Rate_White,Rate_WhiteC,Total_AIndA,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole
0,New Jersey,Atlantic,"Atlantic, New Jersey",NaN,8127.28,68501.36,0.179883,0.163995,0.364402,0.352980,1782,3466,21282,23764,45181,49558,187983,194066,263670
1,New Jersey,Bergen,"Bergen, New Jersey",NaN,12463.74,220192.74,0.181870,0.158404,0.324146,0.315668,4508,8451,158020,168160,68531,78683,679302,697546,932202
2,New Jersey,Burlington,"Burlington, New Jersey",NaN,9734.30,134333.34,0.119417,0.107998,0.413988,0.400277,1520,4758,24118,28721,81515,90134,324486,335601,445349
3,New Jersey,Camden,"Camden, New Jersey",NaN,17258.32,135909.27,0.157550,0.145707,0.388827,0.376850,3304,6565,30391,34188,109542,118445,349537,360646,506471
4,New Jersey,Cape May,"Cape May, New Jersey",NaN,906.48,36259.20,0.203566,0.164396,0.429372,0.421271,336,723,943,1366,4453,5514,84447,86071,92039

In [40]:
T['Rate_Parity']  = T['Rate_White'] - T['Rate_Black']
# T['Rate_ParityC'] = T['Rate_WhiteC'] - T['Rate_BlackC']
STATE_VACCINE[state] = T
print([i for i in STATE_VACCINE])
diagnose_Rate(T)

['California', 'Tennessee', 'North Carolina', 'West Virginia', 'Maine', 'New Jersey']

,name,count,mean,std,min,25%,50%,75%,max
0,Rate_Black,21.0,0.172354,0.038656,0.098517,0.157550,0.171946,0.181870,0.271283
1,Rate_White,21.0,0.334817,0.063576,0.183864,0.294039,0.352988,0.364402,0.429372
2,Rate_Parity,21.0,0.162463,0.054562,0.054017,0.122121,0.172998,0.186292,0.294571

# All in One

## Read Previous Vaccine Data

In [49]:
# import os
# path = ''

# print('Input Historical STATE_VACCINE')
# print('For example: RaceVaccineBackup/STATE_VACCINE_2021-03-23.p')

# L = []
# while True:
    
#     path = input()
    
#     if os.path.isfile(path):
#         print('Path Exists!')
#         L.append(path)
#     elif path != '':
#         print('Wrong Path')
#     else:
#         break

# print('End')

In [50]:
# import pickle

# Historical_Path = {i.split('_')[-1].replace('.p', ''): i for i in L }

# Historical_Data = {}
# for date, path in Historical_Path.items():
#     with open(path, 'rb' ) as f:
#         Historical_Data[date] = pickle.load(f)
    
    
# [i for i in Historical_Data]

## Show Parity for Each State

In [52]:
# ######################################

# print(Today_Date)
# ######################################

# for state in STATE_VACCINE:
    
#     print(state)
#     cols = ['name',  'date', 'count', 'mean', 'min','50%', 'max']

    
#     for date, Old_STATE_VACCINE in Historical_Data.items():
#         x = diagnose_Rate(Old_STATE_VACCINE[state], state = state, date = date)
#         print(x[cols])
    
#     x = diagnose_Rate(STATE_VACCINE[state], state = state, date = Today_Date)
    
#     print(x[cols])
#     print('\n')
    
    
# # pd.concat(L).to_csv('compare.csv')

##  Show Some Specials Cases

In [53]:
# # state = 'Texas'
# DF = pd.concat([v for k,v in STATE_VACCINE.items()]) 

# data_cols = ['State', 'County', 'Geographic Area Name',
#              'Total_Black', 'Total_White',
#              'Numb_Black', 'Numb_White','Rate_Black','Rate_White', 'Total_Whole', 'Rate_Parity']

# DF[DF['Rate_Black'] > 0.3][data_cols]

## Save Data

In [41]:

import pickle 

path = 'CountyVaccine/Workplace/STATE_VACCINE_' + Today_Date + '_Manual.p'

while True:
    print('The data will be saved here, do you agree?' )
    print(path)
    print('If yes, please enter: Yes')
    x = input()
    if x =='Yes':
        break


with open(path, 'wb') as f:
    pickle.dump(STATE_VACCINE, f)
    
    
print('Successfully Saved!')

The data will be saved here, do you agree?
CountyVaccine/Workplace/STATE_VACCINE_2021-04-19_Manual.p
If yes, please enter: Yes

 Yes

Successfully Saved!

# Merge Data

In [42]:
def merge_data(date):
    D = {}
    for suffix in ['_Manual.p', '_Tableau.p', '_Autonomy.p']:
        path = 'CountyVaccine/Workplace/STATE_VACCINE_' + date + suffix
        print(path)
        with open(path, 'rb') as f:
            s = pickle.load(f)
            
        for k, v in s.items():
            D[k] = v
            
    return D
    
    
date = Today_Date
path = 'STATE_VACCINE_' + date + '.p'
D = merge_data(date)

CountyVaccine/Workplace/STATE_VACCINE_2021-04-19_Manual.p
CountyVaccine/Workplace/STATE_VACCINE_2021-04-19_Tableau.p
CountyVaccine/Workplace/STATE_VACCINE_2021-04-19_Autonomy.p

In [43]:
STATE_VACCINE = D

with open(path, 'wb') as f:
    pickle.dump(STATE_VACCINE, f)

print('save data to:', path)

save data to: STATE_VACCINE_2021-04-19.p