# Load Data

In [1]:
import pandas as pd

path = 'DataMerge/A-RaceBias.csv'
RaceBias = pd.read_csv(path)
RaceBias

,GEOID,racial_bias,racial_explicit_bias,racial_weighted_bias,racial_weighted_explicit_bias
0,30,0.461000,NaN,NaN,NaN
1,1001,0.462460,1.160714,0.432357,1.070972
2,1003,0.440297,1.260521,0.432839,1.130820
3,1005,0.472971,0.976190,0.429265,1.018059
4,1007,0.465729,0.791667,0.425924,0.997510
...,...,...,...,...,...
3105,56037,0.357542,0.801724,0.351926,0.653021
3106,56039,0.322408,0.588889,0.342007,0.539830
3107,56041,0.265237,0.536585,0.346878,0.609087
3108,56043,0.232684,1.750000,0.352061,0.698231
3109,56045,0.398210,0.533333,0.356803,0.615071

In [2]:
import pandas as pd

path = 'DataMerge/B-SexBias.csv'
SexBias = pd.read_csv(path)
SexBias

,GEOID,sex_bias,sex_explicit_bias,sex_weighted_bias,sex_weighted_explicit_bias
0,30,-0.268537,0.000000,NaN,NaN
1,1001,0.347608,1.278571,0.397887,1.461195
2,1003,0.424211,2.267974,0.443720,2.185791
3,1005,0.474008,1.162162,0.445093,1.509029
4,1007,0.381588,2.055556,0.421544,2.029959
...,...,...,...,...,...
3064,56037,0.284804,1.151316,0.326077,1.208007
3065,56039,0.211733,1.604478,0.296134,1.574167
3066,56041,0.349592,0.972222,0.350689,1.329225
3067,56043,0.104252,1.937500,0.331481,1.685114
3068,56045,0.374224,1.909091,0.359069,1.708752

In [3]:
path = 'DataMerge/C-AgeDisparity.csv'
AgeDisparity = pd.read_csv(path)
AgeDisparity

,GEOID,Above75_WhiteRate,Above75_BlackRate,Above75_Disparity,Above75_Whole,Above65_WhiteRate,Above65_BlackRate,Above65_Disparity,Above65_Whole,Below19_WhiteRate,...,Below24_Disparity,Below24_Whole,Below29_WhiteRate,Below29_BlackRate,Below29_Disparity,Below29_Whole,Below39_WhiteRate,Below39_BlackRate,Below39_Disparity,Below39_Whole
0,1001,0.078813,0.041915,0.518869,0.070003,0.175229,0.113197,0.382244,0.159731,0.241979,...,-0.150893,0.311980,0.361419,0.422800,-0.164018,0.379978,0.486868,0.565631,-0.156491,0.508744
1,1003,0.090385,0.042872,0.552145,0.084154,0.223342,0.120349,0.481395,0.209780,0.222574,...,-0.302857,0.283823,0.323287,0.433369,-0.330250,0.340347,0.437382,0.572551,-0.300570,0.456803
2,1005,0.109362,0.053334,0.686496,0.080815,0.248805,0.148245,0.505325,0.196913,0.196225,...,-0.285446,0.286883,0.302291,0.410549,-0.304176,0.359191,0.414620,0.558290,-0.295755,0.489387
3,1007,0.078180,0.037371,0.588648,0.069081,0.186086,0.100567,0.510463,0.166696,0.224536,...,-0.006338,0.282442,0.346926,0.389460,-0.119428,0.359516,0.471991,0.586815,-0.231079,0.499777
4,1009,0.078214,0.049080,0.374917,0.077214,0.188894,0.147239,0.221366,0.187009,0.246355,...,-0.248791,0.306350,0.363549,0.432515,-0.189080,0.368433,0.483253,0.565440,-0.169570,0.487462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0.045443,0.035117,0.227999,0.044281,0.133281,0.091973,0.311363,0.129632,0.279510,...,-0.160327,0.343056,0.399365,0.469900,-0.176155,0.407812,0.550280,0.610368,-0.109019,0.558038
3138,56039,0.060040,0.005814,0.909457,0.057791,0.163294,0.139535,0.145660,0.158413,0.193224,...,0.040279,0.248636,0.323671,0.372093,-0.149433,0.330677,0.496163,0.517442,-0.042872,0.502813
3139,56041,0.051772,0.013158,0.750225,0.050578,0.151943,0.085526,0.438615,0.149560,0.302900,...,-0.386708,0.355829,0.405198,0.651316,-0.604529,0.411698,0.537065,0.730263,-0.358720,0.543113
3140,56043,0.103430,0.045455,0.562396,0.100192,0.228413,0.113636,0.503997,0.221653,0.246984,...,0.057674,0.294811,0.333198,0.386364,-0.159412,0.341576,0.449912,0.477273,-0.060792,0.457783
3141,56045,0.095290,0.000000,1.007437,0.090515,0.219399,0.020833,0.911131,0.213368,0.215215,...,0.120772,0.265772,0.311125,0.354167,-0.138201,0.317165,0.442051,0.541667,-0.224973,0.452721

In [4]:
path = 'DataMerge/D-MeanIncome.csv'
MeanIncome = pd.read_csv(path)
MeanIncome

      GEOID  MeanInc_Total  MeanInc_White  MeanInc_Black  MeanInc_Disparity
0      1001        29819.0        33021.0        19610.0            13411.0
1      1003        32626.0        34639.0        18565.0            16074.0
2      1005        18473.0        25581.0        12369.0            13212.0
3      1007        20778.0        23509.0        10938.0            12571.0
4      1009        24747.0        25176.0        15911.0             9265.0
...     ...            ...            ...            ...                ...
3215  72145        11116.0        10927.0        13561.0            -2634.0
3216  72147        10426.0        11371.0        11626.0             -255.0
3217  72149        10894.0        11070.0        19955.0            -8885.0
3218  72151         9929.0        11199.0         9637.0             1562.0
3219  72153         8404.0         8313.0        11794.0            -3481.0

[3220 rows x 5 columns]

In [5]:
path = 'DataMerge/E-MedianIncome.csv'
MedianIncome = pd.read_csv(path)
MedianIncome

,GEOID,MedianInc_Total,MedianInc_White,MedianInc_Black,MedianInc_Disparity
0,1001,58731.0,66540.0,28808.0,37732.0
1,1003,58320.0,61505.0,36616.0,24889.0
2,1005,32525.0,46815.0,22357.0,24458.0
3,1007,47542.0,52388.0,21964.0,30424.0
4,1009,49358.0,49289.0,77518.0,-28229.0
...,...,...,...,...,...
3215,72145,19617.0,19638.0,21812.0,-2174.0
3216,72147,14936.0,14979.0,22882.0,-7903.0
3217,72149,19877.0,21279.0,32579.0,-11300.0
3218,72151,16295.0,18416.0,15588.0,2828.0
3219,72153,14743.0,15936.0,14383.0,1553.0

In [6]:
path = 'DataMerge/F-PoliticalIdeology.csv'
PoliticalIdeology = pd.read_csv(path)
PoliticalIdeology

,GEOID,winner,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
0,1001,R,19838,7503,350,27691,1,0.716406
1,1003,R,83544,24578,1229,109351,1,0.763999
2,1005,R,5622,4816,68,10506,1,0.535123
3,1007,R,7525,1986,74,9585,1,0.785081
4,1009,R,24711,2640,209,27560,1,0.896626
...,...,...,...,...,...,...,...,...
3107,56037,R,12229,3823,468,16520,1,0.740254
3108,56039,R,4341,9848,344,14533,1,0.298700
3109,56041,R,7496,1591,251,9338,1,0.802741
3110,56043,R,3245,651,97,3993,1,0.812672
3111,56045,R,3107,360,66,3533,1,0.879423

In [7]:
path = 'DataMerge/G-VaxHesitancy.csv'
VaxHesitancy = pd.read_csv(path)
VaxHesitancy

      GEOID  hesitancy  strong_hesitancy
0      1001       0.22              0.10
1      1003       0.20              0.10
2      1005       0.23              0.11
3      1007       0.24              0.12
4      1009       0.23              0.11
...     ...        ...               ...
3137  56037       0.31              0.17
3138  56039       0.29              0.15
3139  56041       0.31              0.17
3140  56043       0.32              0.17
3141  56045       0.32              0.17

[3142 rows x 3 columns]

In [8]:
path = 'DataMerge/H-COVID.csv'
COVID = pd.read_csv(path)
COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0      1001       6675     102   11947.591688             1.528090
1      1003      20573     301    9215.890053             1.463083
2      1005       2239      55    9069.918172             2.456454
3      1007       2557      58   11418.237028             2.268283
4      1009       6469     133   11187.009304             2.055959
...     ...        ...     ...            ...                  ...
3261  90053       1521       4            NaN             0.262985
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

In [9]:
path = 'DataMerge/I-INTERNET_SUBSCRIPTIONS.csv'
INTERNET_SUBSCRIPTIONS = pd.read_csv(path)
INTERNET_SUBSCRIPTIONS

,Geographic Area Name,Rate_Total geqHighSchool,Rate_Total geqBachelor,Rate_ComputerAdInternet_Whole,Rate_ComputerAdInternet_White,Rate_ComputerAdInternet_Black,Rate_ComputerAdInternet_AIndA,Rate_ComputerAdInternet_Asian,Rate_ComputerNoInternet_Whole,Rate_ComputerNoInternet_White,Rate_ComputerNoInternet_Black,Rate_ComputerNoInternet_AIndA,Rate_ComputerNoInternet_Asian,Rate_NoComputer_Whole,Rate_NoComputer_White,Rate_NoComputer_Black,Rate_NoComputer_AIndA,Rate_NoComputer_Asian,ComputerAdInternet_Parity,NoComputer_Parity
0,"Autauga, Alabama",0.597574,0.180498,0.853,0.884,0.710,1.000,0.941,0.081,0.071,0.137,0.000,0.016,0.064,0.044,0.150,0.000,0.044,0.174,-0.106
1,"Baldwin, Alabama",0.645614,0.228780,0.858,0.869,0.743,0.897,0.975,0.081,0.076,0.131,0.040,0.018,0.058,0.052,0.125,0.058,0.007,0.126,-0.073
2,"Barbour, Alabama",0.522136,0.088988,0.652,0.710,0.586,1.000,0.882,0.166,0.144,0.184,0.000,0.039,0.176,0.139,0.226,0.000,0.079,0.124,-0.087
3,"Bibb, Alabama",0.569612,0.080049,0.762,0.796,0.629,1.000,1.000,0.066,0.066,0.054,0.000,0.000,0.168,0.138,0.295,0.000,0.000,0.167,-0.157
4,"Blount, Alabama",0.555102,0.090618,0.788,0.790,0.445,0.609,1.000,0.080,0.080,0.078,0.130,0.000,0.126,0.124,0.477,0.261,0.000,0.345,-0.353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.505831,0.149720,0.493,0.471,0.660,0.000,NaN,0.277,0.289,0.084,0.703,NaN,0.226,0.235,0.256,0.297,NaN,-0.189,-0.021
3216,"Vieques Municipio, Puerto Rico",0.513307,0.129715,0.754,0.711,0.673,1.000,1.000,0.036,0.024,0.263,0.000,0.000,0.207,0.260,0.065,0.000,0.000,0.038,0.195
3217,"Villalba Municipio, Puerto Rico",0.529839,0.135197,0.762,0.742,0.701,NaN,NaN,0.065,0.086,0.000,NaN,NaN,0.167,0.161,0.299,NaN,NaN,0.041,-0.138
3218,"Yabucoa Municipio, Puerto Rico",0.504818,0.128224,0.635,0.494,0.675,NaN,1.000,0.084,0.102,0.080,NaN,0.000,0.277,0.401,0.245,NaN,0.000,-0.181,0.156
3219,"Yauco Municipio, Puerto Rico",0.531095,0.178414,0.581,0.603,0.649,0.503,0.000,0.075,0.065,0.053,0.176,0.000,0.314,0.303,0.276,0.321,1.000,-0.046,0.027

In [10]:
path = 'DataMerge/J-EMPLOYMENT.csv'
EMPLOYMENT = pd.read_csv(path)
EMPLOYMENT

,Geographic Area Name,Rate_Unemployment_Whole,Rate_Unemployment_White,Rate_Unemployment_Black,Rate_Unemployment_AIndA,Rate_Unemployment_Asian,Unemployment Parity
0,"Autauga, Alabama",0.037,0.034,0.051,0.000,0.000,-0.017
1,"Baldwin, Alabama",0.043,0.038,0.086,0.062,0.019,-0.048
2,"Barbour, Alabama",0.092,0.047,0.148,0.000,0.000,-0.101
3,"Bibb, Alabama",0.073,0.068,0.103,0.000,0.000,-0.035
4,"Blount, Alabama",0.034,0.033,0.017,0.000,0.144,0.016
...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.174,0.168,0.218,0.000,NaN,-0.050
3216,"Vieques Municipio, Puerto Rico",0.075,0.041,0.000,NaN,NaN,0.041
3217,"Villalba Municipio, Puerto Rico",0.219,0.216,0.193,NaN,NaN,0.023
3218,"Yabucoa Municipio, Puerto Rico",0.198,0.129,0.211,NaN,0.000,-0.082
3219,"Yauco Municipio, Puerto Rico",0.202,0.186,0.224,0.000,NaN,-0.038

In [11]:
path = 'DataMerge/K-EDUCATION.csv'
EDUCATION = pd.read_csv(path)
EDUCATION

,Geographic Area Name,Percent_White geqHighSchool,Percent_White geqBachelor,Percent_Black geqHighSchool,Percent_Black geqBachelor,Percent_AIndA geqHighSchool,Percent_AIndA geqBachelor,Percent_Asian geqHighSchool,Percent_Asian geqBachelor
0,"Autauga, Alabama",0.912,0.291,0.789,0.159,0.860,0.453,0.915,0.446
1,"Baldwin, Alabama",0.919,0.332,0.837,0.197,0.650,0.059,0.840,0.380
2,"Barbour, Alabama",0.786,0.175,0.691,0.050,0.817,0.000,0.791,0.297
3,"Bibb, Alabama",0.844,0.124,0.608,0.031,1.000,0.000,1.000,1.000
4,"Blount, Alabama",0.809,0.131,0.612,0.046,0.676,0.000,0.860,0.522
...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.704,0.210,0.799,0.189,0.813,0.172,1.000,0.000
3216,"Vieques Municipio, Puerto Rico",0.765,0.259,0.757,0.000,1.000,0.000,1.000,0.000
3217,"Villalba Municipio, Puerto Rico",0.790,0.200,0.931,0.253,NaN,NaN,NaN,NaN
3218,"Yabucoa Municipio, Puerto Rico",0.643,0.163,0.731,0.186,NaN,NaN,1.000,1.000
3219,"Yauco Municipio, Puerto Rico",0.731,0.254,0.725,0.316,0.735,0.253,1.000,0.000

In [12]:
path = 'DataMerge/L-BroadBoardSpeed.csv'
BroadBoardSpeed = pd.read_csv(path)
BroadBoardSpeed

,GEOID,fixed_avg_d_mbps_wt,fixed_avg_u_mbps_wt,fixed_avg_lat_wt,mobile_avg_d_mbps_wt,mobile_avg_u_mbps_wt,mobile_avg_lat_wt
0,1001,155.893636,77.383649,23.550424,39.934262,15.456766,46.469349
1,1003,122.081455,53.476077,46.965039,45.170522,9.442240,52.995281
2,1005,113.287736,11.731600,62.774059,20.890680,3.842048,56.840000
3,1007,46.402450,33.444540,103.175520,35.700959,6.787694,59.570588
4,1009,83.130446,19.635431,38.061094,30.791686,8.734358,60.794805
...,...,...,...,...,...,...,...
3197,72151,34.647772,7.279017,35.837315,41.740484,7.582627,41.437799
3198,72153,46.942987,7.725302,34.334703,25.031864,7.452362,49.892696
3199,78010,27.823811,8.965607,20.848733,31.461869,9.440546,62.838462
3200,78020,22.055864,8.717722,26.484169,20.498675,8.731175,73.475000
3201,78030,30.624871,6.874817,18.069549,28.145640,9.654556,65.875549

In [13]:
path = 'DataMerge/M-SocialVulnerabilityIndex.csv'
SocialVulnerabilityIndex = pd.read_csv(path)
SocialVulnerabilityIndex

,GEOID,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
0,1001,594.443459,92.859967,0.154,0.146,0.193,0.250,0.008,0.056,0.3631,0.5810,0.5947,0.3741,0.4354
1,1003,1589.793007,130.901947,0.106,0.195,0.140,0.170,0.005,0.034,0.2232,0.1990,0.4358,0.3359,0.2162
2,1005,885.001636,29.132150,0.289,0.180,0.222,0.539,0.016,0.092,0.9780,0.9153,0.8558,0.9889,0.9959
3,1007,622.461089,36.190214,0.140,0.163,0.167,0.254,0.003,0.060,0.7694,0.1203,0.4323,0.7189,0.6003
4,1009,644.830460,89.395591,0.144,0.178,0.142,0.129,0.017,0.042,0.6143,0.3187,0.5915,0.1741,0.4242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,10426.975725,4.231045,0.120,0.107,0.123,0.204,0.016,0.024,0.2576,0.4193,0.6718,0.4120,0.3701
3138,56039,3996.844622,5.769301,0.071,0.136,0.070,0.184,0.043,0.024,0.0025,0.0096,0.7736,0.6266,0.1127
3139,56041,2081.719807,9.899987,0.125,0.121,0.172,0.125,0.007,0.039,0.3583,0.4486,0.4390,0.6657,0.4522
3140,56043,2238.672972,3.631169,0.124,0.207,0.149,0.180,0.003,0.050,0.4293,0.6482,0.3687,0.2751,0.3732
3141,56045,2398.003891,2.960796,0.174,0.189,0.144,0.089,0.009,0.026,0.3022,0.2260,0.4276,0.6581,0.3475

In [14]:
path = 'DataMerge/N-Traffic.csv'
Traffic = pd.read_csv(path)
Traffic

           Geographic Area Name   TCI
0            New York, New York  52.6
1               Kings, New York  34.5
2               Bronx, New York  29.5
3     San Francisco, California  31.7
4              Queens, New York  23.8
...                         ...   ...
3137            Lincoln, Kansas   0.0
3138          Lincoln, Kentucky   0.0
3139             Lincoln, Maine   0.0
3140         Lincoln, Minnesota   0.0
3141          Lincoln, Missouri   0.0

[3142 rows x 2 columns]

In [15]:
path = 'DataMerge/O-VaccineCoverageIndex.csv'
VaccineCoverageIndex = pd.read_csv(path)
VaccineCoverageIndex

,GEOID,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
0,1001,0.419612,0.231455,0.827762,0.484241,0.830309,0.607768
1,1003,0.228590,0.150271,0.170965,0.391277,0.726839,0.227953
2,1005,0.505571,0.991404,0.621777,0.966253,0.694683,0.885068
3,1007,0.410060,0.888252,0.335880,0.842089,0.834448,0.764406
4,1009,0.440306,0.716014,0.850684,0.580388,0.837950,0.795288
...,...,...,...,...,...,...,...
3137,56037,0.951926,0.201210,0.318370,0.264565,0.923910,0.562878
3138,56039,0.913403,0.115568,0.021331,0.314550,0.923591,0.437122
3139,56041,0.942057,0.152499,0.049666,0.353709,0.913085,0.480420
3140,56043,0.980579,0.375040,0.168099,0.642789,0.899713,0.693091
3141,56045,0.991404,0.090099,0.216173,0.306909,0.912130,0.510984

In [16]:
path = 'DataMerge/P-VaccineFaclility.csv'
VaccineFaclility = pd.read_csv(path)
VaccineFaclility

      GEOID  FQHC Count  FacDensity10K  HOPD count  PHMCY Count  RUHC Count
0      1001           1         2.1479           1           10           0
1      1003           5         2.5086           3           48           0
2      1005           2         3.2407           1            5           0
3      1007           6         4.9120           1            4           0
4      1009           1         2.9399           0            8           8
...     ...         ...            ...         ...          ...         ...
3103  56037           1         2.1255           1            6           1
3104  56039           0         2.1309           1            4           0
3105  56041           1         3.4609           1            5           0
3106  56043           0         1.2812           0            1           0
3107  56045           0         2.8873           0            2           0

[3108 rows x 6 columns]

In [17]:
path = 'DataMerge/Q-FCC.csv'
FCC = pd.read_csv(path)
FCC

,GEOID,Rate_poor_fair_health,provcount_b,provcount_c,injury_deaths_per_100000
0,1001,0.228,10,9,73.3
1,1003,0.127,20,13,74.5
2,1005,0.234,13,9,56.1
3,1007,0.179,7,6,80.8
4,1009,0.242,12,11,91.9
...,...,...,...,...,...
3137,56037,0.142,18,11,95.1
3138,56039,0.059,11,8,46.8
3139,56041,0.135,12,10,90.7
3140,56043,0.106,9,7,83.1
3141,56045,0.162,10,8,97.8

In [18]:
path = 'DataMerge/R-HealthRanking.csv'
HealthRanking = pd.read_csv(path)
HealthRanking

,GEOID,Segregation index,Average Traffic Volume per Meter of Major Roadways,% Vaccinated,% Vaccinated (Asian),% Vaccinated (Black),% Vaccinated (White),Violent Crime Rate
0,2000,51.512262,217.596161,35.0,NaN,NaN,NaN,720.263271
1,2013,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,2016,NaN,0.000000,NaN,NaN,NaN,NaN,294.617564
3,2020,38.379522,462.572067,38.0,44.0,26.0,39.0,1006.657195
4,2050,13.872255,4.727448,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3042,54101,NaN,0.000000,26.0,NaN,NaN,NaN,NaN
3043,54103,61.871617,91.509904,40.0,NaN,NaN,NaN,89.333572
3044,54105,NaN,0.065980,39.0,NaN,NaN,NaN,245.741886
3045,54107,54.575574,69.036711,49.0,31.0,44.0,49.0,300.438163
3046,54109,47.866961,16.666769,29.0,NaN,36.0,30.0,625.689156

In [22]:
path = 'DataMerge/S-ADI.csv'
ADI = pd.read_csv(path)
ADI

      GEOID    ADIMean     ADIStd
0      1001  64.375000  19.410257
1      1003  52.923913  19.098492
2      1005  83.714286  13.187657
3      1007  79.500000  14.097190
4      1009  69.857143  13.237964
...     ...        ...        ...
3215  72145  87.270270   8.880843
3216  72147  86.833333   9.806460
3217  72149  93.176471   4.612961
3218  72151  93.304348   4.742791
3219  72153  92.750000   6.233868

[3220 rows x 3 columns]

In [23]:
path = 'DataMerge/T-SDI.csv'
SDI = pd.read_csv(path)
SDI

      GEOID  sdi_score
0      1001         22
1      1003         15
2      1005         88
3      1007         31
4      1009         36
...     ...        ...
3137  56037         20
3138  56039         13
3139  56041         17
3140  56043         27
3141  56045         21

[3142 rows x 2 columns]

In [34]:
path = 'DataMerge/U-FluVax.csv'
FluVax = pd.read_csv(path)
FluVax

,GEOID,urban,FluWhole,FluWhite,FluBlack,FluAAWhole,FluAAWhite,FluAABlack
0,1001,1,0.42,0.44,0.27,0.42,0.44,0.31
1,1003,0,0.47,0.48,0.27,0.46,0.47,0.31
2,1005,0,0.35,0.38,0.29,0.36,0.37,0.30
3,1007,1,0.31,0.33,0.19,0.33,0.35,0.22
4,1009,1,0.39,0.39,0.25,0.40,0.40,0.25
...,...,...,...,...,...,...,...,...
3215,72145,1,0.15,NaN,NaN,0.14,NaN,NaN
3216,72147,0,0.18,0.55,NaN,0.18,NaN,NaN
3217,72149,1,0.11,NaN,NaN,0.11,NaN,NaN
3218,72151,1,0.17,NaN,NaN,0.18,NaN,NaN
3219,72153,1,0.16,NaN,NaN,0.16,NaN,NaN

# County Race Vaccine Rate

In [42]:
import pickle

import pandas as pd
import numpy as np

path = 'CountyVaccine/RaceVaccineBackup/STATE_VACCINE_2021-03-27.p'

with open(path, 'rb' ) as f:
    STATE_VACCINE = pickle.load(f)
    
CountyRaceVaccine = pd.concat([v for k,v in STATE_VACCINE.items()])
print(CountyRaceVaccine.shape)
CountyRaceVaccine

(1297, 51)

,State,County,Geographic Area Name,Date,Numb_AIndA,Numb_AIndA_Fl,Numb_Asian,Numb_Asian_Fl,Numb_Black,Numb_Black_Fl,...,Total_AIndAC,Total_Asian,Total_AsianC,Total_Black,Total_BlackC,Total_White,Total_WhiteC,Total_Whole,Rate_Parity,Rate_ParityC
0,Illinois,Adams,"Adams, Illinois",2021-03-26,47.0,22.0,278.0,145.0,932.0,501.0,...,395,615,830,2557,3554,60698,61991,65435,0.228891,0.318764
1,Illinois,Alexander,"Alexander, Illinois",2021-03-26,3.0,0.0,NaN,NaN,245.0,72.0,...,62,17,36,1830,1917,3740,3874,5761,0.002751,0.004101
2,Illinois,Bond,"Bond, Illinois",2021-03-26,NaN,NaN,21.0,4.0,82.0,26.0,...,183,134,187,1041,1195,14874,15113,16426,0.344653,0.348108
3,Illinois,Boone,"Boone, Illinois",2021-03-26,84.0,40.0,226.0,85.0,279.0,107.0,...,1006,785,1052,1503,1984,49530,50712,53544,0.157537,0.194542
4,Illinois,Brown,"Brown, Illinois",2021-03-26,6.0,3.0,6.0,3.0,11.0,4.0,...,107,21,43,1242,1276,5165,5212,6578,0.422508,0.418854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,South Carolina,Spartanburg,"Spartanburg, South Carolina",2021-03-28,NaN,NaN,1186.0,NaN,7923.0,NaN,...,3154,8267,9643,66872,70911,236667,242425,319785,0.045223,NaN
42,South Carolina,Sumter,"Sumter, South Carolina",2021-03-28,NaN,NaN,233.0,NaN,8526.0,NaN,...,1252,1548,2339,51076,52335,51113,53007,106721,0.038010,NaN
43,South Carolina,Union,"Union, South Carolina",2021-03-28,NaN,NaN,5.0,NaN,1262.0,NaN,...,198,103,157,8741,9131,17858,18326,27316,0.025407,NaN
44,South Carolina,Williamsburg,"Williamsburg, South Carolina",2021-03-28,NaN,NaN,12.0,NaN,3899.0,NaN,...,270,263,318,19592,19799,10008,10281,30368,0.024312,NaN
45,South Carolina,York,"York, South Carolina",2021-03-28,NaN,NaN,1068.0,NaN,6427.0,NaN,...,4235,7813,9184,54308,58010,210049,215760,280979,0.047556,NaN

In [43]:
CountyRaceVaccine = CountyRaceVaccine.replace(['Suppressed', '-'], np.nan)

cols = ['State', 'County', 'Geographic Area Name', 'Rate_White',  'Rate_Black', 'Rate_Parity',
        'Numb_White',  'Numb_Black' ]

CountyRaceVaccine = CountyRaceVaccine[cols]
CountyRaceVaccine.columns = ['State', 'County', 'Geographic Area Name', 'Rate_White',  'Rate_Black', 'Rate_Disparity',
        'Numb_White',  'Numb_Black' ]

CountyRaceVaccine

,State,County,Geographic Area Name,Rate_White,Rate_Black,Rate_Disparity,Numb_White,Numb_Black
0,Illinois,Adams,"Adams, Illinois",0.593380,0.364490,0.228891,36017.0,932.0
1,Illinois,Alexander,"Alexander, Illinois",0.136631,0.133880,0.002751,511.0,245.0
2,Illinois,Bond,"Bond, Illinois",0.423423,0.078770,0.344653,6298.0,82.0
3,Illinois,Boone,"Boone, Illinois",0.343166,0.185629,0.157537,16997.0,279.0
4,Illinois,Brown,"Brown, Illinois",0.431365,0.008857,0.422508,2228.0,11.0
...,...,...,...,...,...,...,...,...
41,South Carolina,Spartanburg,"Spartanburg, South Carolina",0.163703,0.118480,0.045223,38743.0,7923.0
42,South Carolina,Sumter,"Sumter, South Carolina",0.204938,0.166928,0.038010,10475.0,8526.0
43,South Carolina,Union,"Union, South Carolina",0.169784,0.144377,0.025407,3032.0,1262.0
44,South Carolina,Williamsburg,"Williamsburg, South Carolina",0.223321,0.199010,0.024312,2235.0,3899.0
45,South Carolina,York,"York, South Carolina",0.165899,0.118344,0.047556,34847.0,6427.0

In [44]:
set_all = set(INTERNET_SUBSCRIPTIONS['Geographic Area Name'].unique())
print(len(set_all))

set_vaccine = set(CountyRaceVaccine['Geographic Area Name'].unique())
print(len(set_vaccine))

# all the counties in set_vaccine are in set_all
set_vaccine - set_all

3220
1297

set()

In [45]:
import pandas as pd
from DataMerge import us_popu

# path_cc  = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'
# path_acs = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'
# US_COUNTY_POPULATION = us_popu.get_US_COUNTY_POPULATION(path_cc, path_acs)

path = 'DataMerge/Data/C-AnnualCountyPopulation/US_COUNTY_POPULATION.csv'
US_COUNTY_POPULATION = pd.read_csv(path)
US_COUNTY_POPULATION.columns

Index(['GEOID', 'State', 'County', 'Geographic Area Name', 'Total_Whole',
       'Total_White', 'Total_Black', 'Total_AIndA', 'Total_Asian',
       'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC', 'Total_AsianC'],
      dtype='object')

In [46]:
set_all = set(US_COUNTY_POPULATION['Geographic Area Name'].unique())
print(len(set_all))

set_vaccine = set(CountyRaceVaccine['Geographic Area Name'].unique())
print(len(set_vaccine))

not_matched = set_vaccine - set_all
not_matched = [{'County':i.split(', ')[0], 'State':i.split(', ')[-1], 'Geographic Area Name':i} for i in not_matched ]

pd.DataFrame(not_matched)

3142
1297

Empty DataFrame
Columns: []
Index: []

In [47]:
cols = ['GEOID', 'Geographic Area Name', 'Total_Whole','Total_White', 'Total_Black']

US_COUNTY_POPULATION = US_COUNTY_POPULATION[cols]
print(US_COUNTY_POPULATION.shape)
print(CountyRaceVaccine.shape)
MergedCounty = pd.merge(CountyRaceVaccine, US_COUNTY_POPULATION, on='Geographic Area Name')
print(MergedCounty.shape)
MergedCounty

(3142, 5)
(1297, 8)
(1297, 12)

,State,County,Geographic Area Name,Rate_White,Rate_Black,Rate_Disparity,Numb_White,Numb_Black,GEOID,Total_Whole,Total_White,Total_Black
0,Illinois,Adams,"Adams, Illinois",0.593380,0.364490,0.228891,36017.0,932.0,17001,65435,60698,2557
1,Illinois,Alexander,"Alexander, Illinois",0.136631,0.133880,0.002751,511.0,245.0,17003,5761,3740,1830
2,Illinois,Bond,"Bond, Illinois",0.423423,0.078770,0.344653,6298.0,82.0,17005,16426,14874,1041
3,Illinois,Boone,"Boone, Illinois",0.343166,0.185629,0.157537,16997.0,279.0,17007,53544,49530,1503
4,Illinois,Brown,"Brown, Illinois",0.431365,0.008857,0.422508,2228.0,11.0,17009,6578,5165,1242
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,South Carolina,Spartanburg,"Spartanburg, South Carolina",0.163703,0.118480,0.045223,38743.0,7923.0,45083,319785,236667,66872
1293,South Carolina,Sumter,"Sumter, South Carolina",0.204938,0.166928,0.038010,10475.0,8526.0,45085,106721,51113,51076
1294,South Carolina,Union,"Union, South Carolina",0.169784,0.144377,0.025407,3032.0,1262.0,45087,27316,17858,8741
1295,South Carolina,Williamsburg,"Williamsburg, South Carolina",0.223321,0.199010,0.024312,2235.0,3899.0,45089,30368,10008,19592
1296,South Carolina,York,"York, South Carolina",0.165899,0.118344,0.047556,34847.0,6427.0,45091,280979,210049,54308

In [48]:
# FinalMergedCounty['Rate_Parity'] = FinalMergedCounty['Rate_White'] - FinalMergedCounty['Rate_Black']
# # FinalMergedCounty['Rate_Parity_Ratio']  = FinalMergedCounty['Rate_White'] / FinalMergedCounty['Rate_Black']

# FinalMergedCounty = FinalMergedCounty.replace([np.inf, -np.inf], np.nan)
# FinalMergedCounty.head()
# from state_race_scraper.diagnose_rate import diagnose_Rate
# diagnose_Rate(FinalMergedCounty)

# Merge All the Data

In [49]:
MergedCounty1 = pd.merge(MergedCounty,  INTERNET_SUBSCRIPTIONS, on = 'Geographic Area Name', how = 'left')
MergedCounty2 = pd.merge(MergedCounty1, EDUCATION,  on = 'Geographic Area Name', how = 'left')
MergedCounty3 = pd.merge(MergedCounty2, EMPLOYMENT, on = 'Geographic Area Name', how = 'left')
MergedCounty4 = pd.merge(MergedCounty3, Traffic, on='Geographic Area Name', how = 'left')

MergedCounty5 = pd.merge(MergedCounty4, BroadBoardSpeed, on='GEOID', how = 'left')
MergedCounty6 = pd.merge(MergedCounty5, VaccineCoverageIndex, on='GEOID', how = 'left')
MergedCounty7 = pd.merge(MergedCounty6, VaccineFaclility, on='GEOID', how = 'left')
MergedCounty8 = pd.merge(MergedCounty7, COVID, on = 'GEOID', how = 'left')
MergedCounty9 = pd.merge(MergedCounty8, PoliticalIdeology, on='GEOID', how = 'left')

MergedCounty10 = pd.merge(MergedCounty9,  MeanIncome, on='GEOID', how = 'left')
MergedCounty11 = pd.merge(MergedCounty10, MedianIncome, on='GEOID', how = 'left')
MergedCounty12 = pd.merge(MergedCounty11, FCC, on='GEOID', how = 'left')
MergedCounty13 = pd.merge(MergedCounty12, HealthRanking, on='GEOID', how = 'left')
MergedCounty14 = pd.merge(MergedCounty13, ADI, on='GEOID', how = 'left')
MergedCounty15 = pd.merge(MergedCounty14, SDI, on='GEOID', how = 'left')
MergedCounty16 = pd.merge(MergedCounty15, AgeDisparity, on='GEOID', how = 'left')
MergedCounty17 = pd.merge(MergedCounty16, FluVax, on='GEOID', how = 'left')
MergedCounty18 = pd.merge(MergedCounty17, RaceBias, on='GEOID', how = 'left')
MergedCounty19 = pd.merge(MergedCounty18, SexBias, on='GEOID', how = 'left')
MergedCounty20 = pd.merge(MergedCounty19, SocialVulnerabilityIndex, on='GEOID', how = 'left')
MergedCounty21 = pd.merge(MergedCounty20, VaxHesitancy, on='GEOID', how = 'left')

print(MergedCounty21.shape)
print(list(MergedCounty21.columns))

# SocialVulnerabilityIndex

(1297, 150)
['State', 'County', 'Geographic Area Name', 'Rate_White', 'Rate_Black', 'Rate_Disparity', 'Numb_White', 'Numb_Black', 'GEOID', 'Total_Whole', 'Total_White', 'Total_Black', 'Rate_Total geqHighSchool', 'Rate_Total geqBachelor', 'Rate_ComputerAdInternet_Whole', 'Rate_ComputerAdInternet_White', 'Rate_ComputerAdInternet_Black', 'Rate_ComputerAdInternet_AIndA', 'Rate_ComputerAdInternet_Asian', 'Rate_ComputerNoInternet_Whole', 'Rate_ComputerNoInternet_White', 'Rate_ComputerNoInternet_Black', 'Rate_ComputerNoInternet_AIndA', 'Rate_ComputerNoInternet_Asian', 'Rate_NoComputer_Whole', 'Rate_NoComputer_White', 'Rate_NoComputer_Black', 'Rate_NoComputer_AIndA', 'Rate_NoComputer_Asian', 'ComputerAdInternet_Parity', 'NoComputer_Parity', 'Percent_White geqHighSchool', 'Percent_White geqBachelor', 'Percent_Black geqHighSchool', 'Percent_Black geqBachelor', 'Percent_AIndA geqHighSchool', 'Percent_AIndA geqBachelor', 'Percent_Asian geqHighSchool', 'Percent_Asian geqBachelor', 'Rate_Unemployment_Whole', 'Rate_Unemployment_White', 'Rate_Unemployment_Black', 'Rate_Unemployment_AIndA', 'Rate_Unemployment_Asian', 'Unemployment Parity', 'TCI', 'fixed_avg_d_mbps_wt', 'fixed_avg_u_mbps_wt', 'fixed_avg_lat_wt', 'mobile_avg_d_mbps_wt', 'mobile_avg_u_mbps_wt', 'mobile_avg_lat_wt', 'Th1_Historic_Undervaccination', 'Th2_Sociodemographic_Barriers', 'Th3_Resource_constrained_Healthcare_System', 'Th4_Healthcare_Accessibility_Barriers', 'Th5_Irregular_Care_Seeking_Behavior', 'CVAC', 'FQHC Count', 'FacDensity10K', 'HOPD count', 'PHMCY Count', 'RUHC Count', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio', 'winner', 'votes_R_2020', 'votes_D_2020', 'votes_third_party_2020', 'votes_total_2020', 'republican', 'republican_Rate', 'MeanInc_Total', 'MeanInc_White', 'MeanInc_Black', 'MeanInc_Disparity', 'MedianInc_Total', 'MedianInc_White', 'MedianInc_Black', 'MedianInc_Disparity', 'Rate_poor_fair_health', 'provcount_b', 'provcount_c', 'injury_deaths_per_100000', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways', '% Vaccinated', '% Vaccinated (Asian)', '% Vaccinated (Black)', '% Vaccinated (White)', 'Violent Crime Rate', 'ADIMean', 'ADIStd', 'sdi_score', 'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_Disparity', 'Above75_Whole', 'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_Disparity', 'Above65_Whole', 'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_Disparity', 'Below19_Whole', 'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_Disparity', 'Below24_Whole', 'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_Disparity', 'Below29_Whole', 'Below39_WhiteRate', 'Below39_BlackRate', 'Below39_Disparity', 'Below39_Whole', 'urban', 'FluWhole', 'FluWhite', 'FluBlack', 'FluAAWhole', 'FluAAWhite', 'FluAABlack', 'racial_bias', 'racial_explicit_bias', 'racial_weighted_bias', 'racial_weighted_explicit_bias', 'sex_bias', 'sex_explicit_bias', 'sex_weighted_bias', 'sex_weighted_explicit_bias', 'AREA_SQMI', 'DENSITY', 'EP_POV', 'EP_AGE65', 'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 'EP_NOVEH', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', 'hesitancy', 'strong_hesitancy']

# Rename Columns

In [50]:
rename_dict = {'State': 'State',
'County': 'County',
'Geographic Area Name': 'AreaName',
'GEOID': 'FIPS',

'Rate_White': 'Vax_White',    
'Rate_Black': 'Vax_Black',


'Numb_White': 'VaxNumb_White',
'Numb_Black': 'VaxNumb_Black',


'Total_Whole': 'Total_Whole',
'Total_White': 'Total_White',
'Total_Black': 'Total_Black',


'Rate_Total geqHighSchool': 'HighSchool_Rate',
'Percent_White geqHighSchool': 'HighSchool_White', 
'Percent_Black geqHighSchool': 'HighSchool_Black', 
# 'Percent_AIndA geqHighSchool': 'HighSchool_AIndA',
# 'Percent_Asian geqHighSchool': 'HighSchool_Asian',


'Rate_Total geqBachelor': 'Bachelor_Rate',
'Percent_White geqBachelor': 'Bachelor_White', 
'Percent_Black geqBachelor': 'Bachelor_Black', 
# 'Percent_AIndA geqBachelor': 'Bachelor_AIndA', 
# 'Percent_Asian geqBachelor': 'Bachelor_Asian',


'Rate_ComputerAdInternet_Whole': 'IT_Rate',
'Rate_ComputerAdInternet_White': 'IT_White',
'Rate_ComputerAdInternet_Black': 'IT_Black',
# 'Rate_ComputerAdInternet_AIndA': 'IT_AIndA',
# 'Rate_ComputerAdInternet_Asian': 'IT_Asian',


'Rate_ComputerNoInternet_Whole': 'CnoI_Rate',
'Rate_ComputerNoInternet_White': 'CnoI_White',
'Rate_ComputerNoInternet_Black': 'CnoI_Black',
# 'Rate_ComputerNoInternet_AIndA': 'CnoI_AIndA',
# 'Rate_ComputerNoInternet_Asian': 'CnoI_Asian',


'Rate_NoComputer_Whole': 'noC_Rate',
'Rate_NoComputer_White': 'noC_White',
'Rate_NoComputer_Black': 'noC_Black',
# 'Rate_NoComputer_AIndA': 'noC_AIndA',
# 'Rate_NoComputer_Asian': 'noC_Asian',


'Rate_Unemployment_Whole': 'Unemployment_Rate',
'Rate_Unemployment_White': 'Unemployment_White',
'Rate_Unemployment_Black': 'Unemployment_Black',
# 'Rate_Unemployment_AIndA': 'Unemployment_AIndA',
# 'Rate_Unemployment_Asian': 'Unemployment_Asian',
               
            
'TCI': 'TCI',
'fixed_avg_d_mbps_wt': 'fixed_d',
'fixed_avg_u_mbps_wt': 'fixed_u',
'fixed_avg_lat_wt': 'fixed_lat',
'mobile_avg_d_mbps_wt': 'mobile_d',
'mobile_avg_u_mbps_wt': 'mobile_u',
'mobile_avg_lat_wt': 'mobile_lat',
               
'Th1_Historic_Undervaccination': 'undervaccination',
'Th2_Sociodemographic_Barriers': 'barriers',
'Th3_Resource_constrained_Healthcare_System': 'resource_constrained',
'Th4_Healthcare_Accessibility_Barriers': 'inaccessibility',
'Th5_Irregular_Care_Seeking_Behavior': 'irregular_behavior',
               
'CVAC': 'CVAC',
'FQHC Count': 'FQHC',
'FacDensity10K': 'FacDensity10K',
'HOPD count': 'HOPD',
'PHMCY Count': 'PHMCY',
'RUHC Count': 'RUHC',
               
'Confirmed': 'cases',
'Deaths': 'deaths',
'Incident_Rate': 'incident_rate',
'Case_Fatality_Ratio': 'mortality',
               
'winner': 'winner',
'votes_R_2020': 'votes_R',
'votes_D_2020': 'votes_D',
'votes_third_party_2020': 'votes_3party',
'votes_total_2020': 'votes_total',
'republican': 'republican',
'republican_Rate': 'republican_rate',
               
'MeanInc_Total': 'MeanIncome',
'MeanInc_White': 'MeanIncome_White',
'MeanInc_Black': 'MeanIncome_Black',
               
'MedianInc_Total': 'MedianIncome',
'MedianInc_White': 'MedianIncome_White',
'MedianInc_Black': 'MedianIncome_Black',
               
'AREA_SQMI': 'AREA_SQMI',
'DENSITY': 'DENSITY',
'EP_POV': 'EP_POV',
'EP_AGE65': 'Age65',
'EP_DISABL': 'EP_DISABL',
'EP_MINRTY': 'EP_MINRTY',
'EP_LIMENG': 'EP_LIMENG',
'EP_NOVEH': 'EP_NOVEH',
'RPL_THEME1': 'RPL_THEME1',
'RPL_THEME2': 'RPL_THEME2',
'RPL_THEME3': 'RPL_THEME3',
'RPL_THEME4': 'RPL_THEME4',
'RPL_THEMES': 'RPL_THEMES',
'Rate_poor_fair_health': 'Rate_poorhealth',
'provcount_b': 'Num_providerb',
'provcount_c': 'Num_providerc',
'injury_deaths_per_100000': 'injury_deaths',
'Segregation index': 'Segregation',
'Average Traffic Volume per Meter of Major Roadways': 'AvgTrafficVolume',
'Violent Crime Rate': 'Rate_viocrime',

'Above75_Whole': 'Above75_Rate',
'Above75_WhiteRate': 'Above75_White',
'Above75_BlackRate': 'Above75_Black',

'Above65_Whole': 'Above65_Rate',
'Above65_WhiteRate': 'Above65_White',
'Above65_BlackRate': 'Above65_Black',

'Below19_Whole': 'Below19_Rate',
'Below19_WhiteRate': 'Below19_White',
'Below19_BlackRate': 'Below19_Black',

'Below24_Whole': 'Below24_Rate',
'Below24_WhiteRate': 'Below24_White',
'Below24_BlackRate': 'Below24_Black',

'Below29_Whole': 'Below29_Rate',
'Below29_WhiteRate': 'Below29_White',
'Below29_BlackRate': 'Below29_Black',

'Below39_Whole': 'Below39_Rate',
'Below39_WhiteRate': 'Below39_White',
'Below39_BlackRate': 'Below39_Black',


'urban': 'urban',

'FluWhole': 'FluVax_Rate',
'FluWhite': 'FluVax_White',
'FluBlack': 'FluVax_Black',

'racial_bias': 'racial_bias',
'racial_weighted_bias': 'racial_weighted_bias',

'racial_explicit_bias': 'racial_explicit_bias',
'racial_weighted_explicit_bias': 'racial_weighted_explicit_bias',

'sex_bias': 'sex_bias',
'sex_weighted_bias': 'sex_weighted_bias',

'sex_explicit_bias': 'sex_explicit_bias',
'sex_weighted_explicit_bias': 'sex_weighted_explicit_bias',

'hesitancy': 'hesitancy', 
'strong_hesitancy': 'strong_hesitancy',    

}

MergedCounty21 = MergedCounty21[[i for i in rename_dict]]
MergedCounty21 = MergedCounty21.rename(columns = rename_dict)
MergedCounty21

,State,County,AreaName,FIPS,Vax_White,Vax_Black,VaxNumb_White,VaxNumb_Black,Total_Whole,Total_White,...,racial_bias,racial_weighted_bias,racial_explicit_bias,racial_weighted_explicit_bias,sex_bias,sex_weighted_bias,sex_explicit_bias,sex_weighted_explicit_bias,hesitancy,strong_hesitancy
0,Illinois,Adams,"Adams, Illinois",17001,0.593380,0.364490,36017.0,932.0,65435,60698,...,0.445103,0.413140,0.785088,0.740292,0.336979,0.364639,1.633117,1.571750,0.17,0.08
1,Illinois,Alexander,"Alexander, Illinois",17003,0.136631,0.133880,511.0,245.0,5761,3740,...,0.334566,0.396596,1.900000,0.910959,0.359158,0.378070,2.214286,1.749116,0.18,0.08
2,Illinois,Bond,"Bond, Illinois",17005,0.423423,0.078770,6298.0,82.0,16426,14874,...,0.431260,0.403227,0.886792,0.779789,0.289090,0.359133,2.375000,1.951210,0.18,0.08
3,Illinois,Boone,"Boone, Illinois",17007,0.343166,0.185629,16997.0,279.0,53544,49530,...,0.392394,0.392119,1.123188,0.926540,0.390772,0.404637,1.786913,1.661854,0.16,0.07
4,Illinois,Brown,"Brown, Illinois",17009,0.431365,0.008857,2228.0,11.0,6578,5165,...,0.448034,0.397083,1.250000,0.878192,0.225909,0.366307,3.625000,1.821264,0.17,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292,South Carolina,Spartanburg,"Spartanburg, South Carolina",45083,0.163703,0.118480,38743.0,7923.0,319785,236667,...,0.432547,0.429031,1.097059,0.969836,0.350330,0.377932,1.398048,1.342489,0.19,0.09
1293,South Carolina,Sumter,"Sumter, South Carolina",45085,0.204938,0.166928,10475.0,8526.0,106721,51113,...,0.471320,0.442128,1.235897,1.078266,0.547102,0.509189,2.082734,2.022791,0.21,0.10
1294,South Carolina,Union,"Union, South Carolina",45087,0.169784,0.144377,3032.0,1262.0,27316,17858,...,0.348640,0.424036,0.862069,0.904241,0.644697,0.482776,3.125000,2.471486,0.20,0.10
1295,South Carolina,Williamsburg,"Williamsburg, South Carolina",45089,0.223321,0.199010,2235.0,3899.0,30368,10008,...,0.467033,0.430333,1.090909,0.942583,0.532579,0.450164,2.100000,1.932661,0.21,0.10
1296,South Carolina,York,"York, South Carolina",45091,0.165899,0.118344,34847.0,6427.0,280979,210049,...,0.426216,0.425903,1.052970,0.959989,0.377753,0.399075,1.635815,1.571627,0.17,0.08

# Generate Disparity

In [51]:
T = MergedCounty21

for i in ['Vax', 'HighSchool', 'Bachelor', 'IT', 'CnoI', 'noC', 'Above75', 'Unemployment', 'MeanIncome', 'MedianIncome', 'FluVax']:
    T[i+'_Disparity'] = T[ i + '_White'] - T[i+'_Black']

In [52]:
list(T.columns)

['State',
 'County',
 'AreaName',
 'FIPS',
 'Vax_White',
 'Vax_Black',
 'VaxNumb_White',
 'VaxNumb_Black',
 'Total_Whole',
 'Total_White',
 'Total_Black',
 'HighSchool_Rate',
 'HighSchool_White',
 'HighSchool_Black',
 'Bachelor_Rate',
 'Bachelor_White',
 'Bachelor_Black',
 'IT_Rate',
 'IT_White',
 'IT_Black',
 'CnoI_Rate',
 'CnoI_White',
 'CnoI_Black',
 'noC_Rate',
 'noC_White',
 'noC_Black',
 'Unemployment_Rate',
 'Unemployment_White',
 'Unemployment_Black',
 'TCI',
 'fixed_d',
 'fixed_u',
 'fixed_lat',
 'mobile_d',
 'mobile_u',
 'mobile_lat',
 'undervaccination',
 'barriers',
 'resource_constrained',
 'inaccessibility',
 'irregular_behavior',
 'CVAC',
 'FQHC',
 'FacDensity10K',
 'HOPD',
 'PHMCY',
 'RUHC',
 'cases',
 'deaths',
 'incident_rate',
 'mortality',
 'winner',
 'votes_R',
 'votes_D',
 'votes_3party',
 'votes_total',
 'republican',
 'republican_rate',
 'MeanIncome',
 'MeanIncome_White',
 'MeanIncome_Black',
 'MedianIncome',
 'MedianIncome_White',
 'MedianIncome_Black',
 'AREA_SQMI',
 'DENSITY',
 'EP_POV',
 'Age65',
 'EP_DISABL',
 'EP_MINRTY',
 'EP_LIMENG',
 'EP_NOVEH',
 'RPL_THEME1',
 'RPL_THEME2',
 'RPL_THEME3',
 'RPL_THEME4',
 'RPL_THEMES',
 'Rate_poorhealth',
 'Num_providerb',
 'Num_providerc',
 'injury_deaths',
 'Segregation',
 'AvgTrafficVolume',
 'Rate_viocrime',
 'Above75_Rate',
 'Above75_White',
 'Above75_Black',
 'Above65_Rate',
 'Above65_White',
 'Above65_Black',
 'Below19_Rate',
 'Below19_White',
 'Below19_Black',
 'Below24_Rate',
 'Below24_White',
 'Below24_Black',
 'Below29_Rate',
 'Below29_White',
 'Below29_Black',
 'Below39_Rate',
 'Below39_White',
 'Below39_Black',
 'urban',
 'FluVax_Rate',
 'FluVax_White',
 'FluVax_Black',
 'racial_bias',
 'racial_weighted_bias',
 'racial_explicit_bias',
 'racial_weighted_explicit_bias',
 'sex_bias',
 'sex_weighted_bias',
 'sex_explicit_bias',
 'sex_weighted_explicit_bias',
 'hesitancy',
 'strong_hesitancy',
 'Vax_Disparity',
 'HighSchool_Disparity',
 'Bachelor_Disparity',
 'IT_Disparity',
 'CnoI_Disparity',
 'noC_Disparity',
 'Above75_Disparity',
 'Unemployment_Disparity',
 'MeanIncome_Disparity',
 'MedianIncome_Disparity',
 'FluVax_Disparity']

In [53]:
# T2.describe().T.to_csv('VariableDict.csv')

In [54]:
T.to_csv('StataReg/CountyVaccineMarch27.csv', index = False)